<a class="node cluster" href="#cluster/<%= cluster.id %>">
  <div class="clusterimg"></div>
  <div class="article"><h4 class="name"><%= cluster.get('name') %> (<%= cluster.get('release').get('name') %>)</h4></div>
  <div class="info">
    <div class="row-fluid">
      <div class="span7 leftitem">Nodes:</div>
      <div class="span5 rightitem"><%= cluster.get('nodes').length %></div>
    </div>
    <div class="row-fluid">
      <div class="span7 leftitem">CPU:</div>
      <div class="span5 rightitem"><strong>Z (Z cores)</strong></div>
    </div>
    <div class="row-fluid">
      <div class="span7 leftitem">RAM:</div>
      <div class="span5 rightitem"><strong>Z GB</strong></div>
    </div>
    <div class="row-fluid">
      <div class="span7 leftitem">HDD:</div>
      <div class="span5 rightitem"><strong>Z TB</strong></div>
    </div>
  </div>
  <hr>
  <div class="statusbar">
    <div class="statusbar-text msg-ok">
      <i class="icon-ok-sign"></i><strong>Operational</strong>
    </div>
  </div>
</a>

