*.pyc
*.sqlite

*.gem

# vim swap files
.*.swp

# services' runtime files
*.log
*.pid

# Vagrant housekeeping file
/.vagrant

/build
/mirror/eggs
/mirror/gems
nosetests.xml
nailgun.log
lock

.idea

Nailgun.egg-info
