*.pyc
*.sqlite

*.gem

# vim swap files
.*.swp

# services' runtime files
*.log
*.pid

# Vagrant housekeeping file
/.vagrant

/build
/local_mirror
/virtualbox/iso
nosetests.xml
nailgun.log
lock

.idea

Nailgun.egg-info
