anacron
apache2
apt-xapian-index
aptitude
atop
bc
bridge-utils
build-essential
ceilometer-alarm-evaluator
ceilometer-alarm-notifier
ceilometer-agent-compute
ceilometer-agent-central
ceilometer-api
ceilometer-collector
ceilometer-common
ceilometer-agent-notification
ceph
ceph-deploy
ceph-mds
cinder-api
cinder-scheduler
cinder-volume
cirros-testvm
cirros-testvm-mellanox
cirros-testvmware
cloud-init
corosync
cpu-checker
cpufrequtils
crda
curl
daemonize
debconf-utils
dhcp-checker
diffutils
discover
discover-data
disktype
dkms
dnsmasq-base
dnsmasq-utils
dstat
erlang-dev
eswitchd
ethtool
fakeroot
fuel-utils
fence-agents
fencing-agent
galera
geoip-database
git
glance-api
glance-common
glance-registry
grep
grub-common
grub-gfxpayload-lists
grub-pc
grub-pc-bin
grub2-common
guestmount
gzip
haproxy
heat-api
heat-api-cfn
heat-api-cloudwatch
heat-common
heat-engine
hicolor-icon-theme
hostname
htop
ifenslave-2.6
installation-report
intel-microcode
iptables-persistent
iputils-arping
ipmitool
kdump-tools
keystone
krb5-locales
language-pack-en
language-pack-en-base
language-pack-gnome-en
language-pack-gnome-en-base
laptop-detect
libalgorithm-diff-perl
libalgorithm-diff-xs-perl
libalgorithm-merge-perl
libapache2-mod-fastcgi
libapache2-mod-wsgi
libc-ares2
libccs3
libclass-accessor-perl
libcman3
libcrmcluster1
libcrmcommon2
libdiscover2
libev4
libfence4
libfile-copy-recursive-perl
libfribidi0
libgtk2.0-0
libgtk2.0-bin
libhtml-template-perl
libi18n-ruby1.8
libicu48
libio-string-perl
libjs-swfobject
libjson-ruby1.8
liblockfile-bin
liblockfile1
libnl1
libnl-genl-3-200
libnss3-tools
libopts25
libparse-debianchangelog-perl
libpgm-5.1
libsasl2-modules
libsctp1
libseccomp1
libssl0.9.8
libstomp-ruby1.8
libstonithd1
libsub-name-perl
libtidy-0.99-0
libtransitioner1
libv8-3.7.12.22
libvte-common
libvte9
libxen-4.1
libxmuu1
libzmq1
linux-firmware
linux-firmware-nonfree
linux-server
lksctp-tools
lockfile-progs
login
manpages-dev
mc
mcelog
mcollective
memcached
mlnx-ofed-light
mongodb-clients
mongodb-server
msr-tools
murano-api
murano-dashboard
murano-apps
mysql-client
mysql-server-wsrep-5.6
nailgun-agent
nailgun-mcagents
nailgun-net-check
ncurses-base
neutron-dhcp-agent
neutron-l3-agent
neutron-lbaas-agent
neutron-metadata-agent
neutron-metering-agent
neutron-plugin-bigswitch-agent
neutron-plugin-bigswitch
neutron-plugin-brocade
neutron-plugin-cisco
neutron-plugin-hyperv
neutron-plugin-ibm-agent
neutron-plugin-ibm
neutron-plugin-linuxbridge-agent
neutron-plugin-linuxbridge
neutron-plugin-metaplugin
neutron-plugin-metering-agent
neutron-plugin-midonet
neutron-plugin-ml2
neutron-plugin-mlnx-agent
neutron-plugin-mlnx
neutron-plugin-nec-agent
neutron-plugin-nec
neutron-plugin-nicira
neutron-plugin-oneconvergence-agent
neutron-plugin-oneconvergence
neutron-plugin-openflow-agent
neutron-plugin-openvswitch-agent
neutron-plugin-openvswitch
neutron-plugin-plumgrid
neutron-plugin-ryu-agent
neutron-plugin-ryu
neutron-plugin-vmware
neutron-plugin-vpn-agent
neutron-server
neutron-vpn-agent
nfs-common
nginx
node-less
nodejs
nova-api
nova-cert
nova-compute-kvm
nova-compute-qemu
nova-conductor
nova-consoleauth
nova-network
nova-novncproxy
nova-objectstore
nova-scheduler
novnc
ntp
openhpid
openssh-server
openstack-dashboard
openstack-dashboard-ubuntu-theme
openvswitch-common
openvswitch-datapath-lts-saucy-dkms
openvswitch-switch
os-prober
pacemaker
percona-toolkit
powermgmt-base
puppet
python-carrot
python-ceilometer
python-ceilometerclient
python-ceph
python-daemon
python-daemonize
python-dateutil
python-debian
python-dingus
python-ethtool
python-feedparser
python-gflags
python-glance
python-heatclient
python-keyring
python-keystone
python-ldap
python-libxml2
python-memcache
python-mlnxvif
python-muranoclient
python-mysqldb
python-netifaces
python-neutron
python-nose
python-novnc
python-openid
python-openstack-auth
python-pam
python-passlib
python-pastescript
python-pcs
python-pycurl
python-pypcap
python-pylibmc
python-pyudev
python-rabbit
python-saharaclient
python-scapy
python-scgi
python-setuptools-git
python-sqlalchemy-ext
python-stompy
python-swift
python-utidylib
python-werkzeug
python-xapian
python-xattr
python-zmq
python-pexpect
qemu-kvm
qemu-utils
rabbitmq-server
radosgw
ruby
ruby-cstruct
ruby-httpclient
ruby-i18n
ruby-ipaddress
ruby-mcollective-client
ruby-mixlib-cli
ruby-mixlib-config
ruby-mixlib-log
ruby-netaddr
ruby-ohai
ruby-openstack
ruby-rethtool
ruby-systemu
ruby-yajl
ruby1.8-dev
sahara
sahara-dashboard
screen
sgml-base
sharutils
socat
ssh-import-id
ssl-cert
swift
swift-account
swift-container
swift-object
swift-plugin-s3
swift-proxy
sheepdog
snmp
tasksel
tasksel-data
tcpd
tmux
traceroute
ubuntu-minimal
ubuntu-standard
unzip
update-inetd
vgabios
vim
vlan
wireless-regdb
xauth
xinetd
xml-core
xz-lzma
percona-xtrabackup
zabbix-server-mysql
zabbix-agent
zabbix-sender
zabbix-server-pgsql
zabbix-frontend-php
