Fabric==1.7.0
Jinja2==2.7
Paste==1.7.5.1
PyYAML==3.10
SQLAlchemy==0.7.8
amqplib==1.0.2
anyjson==0.3.1
argparse==1.2.1
decorator==3.4.0
distribute==0.7.3
eventlet==0.9.17
fysom==1.0.11
greenlet==0.4.0
hacking==0.7
jsonschema==2.0.0
kombu==2.1.8
netaddr==0.7.10
netifaces==0.8
nose2==0.4.1
nose==1.1.2
ordereddict==1.1
pip==1.2.1
psycopg2==2.4.6
pycrypto==2.6
python-heatclient==0.2.2
simplejson==2.6.2
six==1.1.0
tornado==3.0
web.py==0.37
wsgilog==0.3
wsgiref==0.1.2
