Paste	1.7.5.1
PyYAML	3.10
SQLAlchemy	0.7.8
amqplib	1.0.2
anyjson	0.3.1
argparse	1.2.1
distribute 0.6.30
eventlet	0.9.17
greenlet	0.4.0
kombu	2.1.8
netaddr	0.7.10
nose	1.1.2
nose2	0.4.1
pip 1.2.1
pycrypto	2.6
simplejson	2.6.2
web.py	0.37
wsgilog	0.3
wsgiref	0.1.2
