bunny	0.8.0
chef	10.12.0
erubis	2.7.0
highline	1.6.13
httpclient	2.2.5
ipaddress	0.8.0
json	1.6.1
mime-types	1.19
mixlib-authentication	1.1.4
mixlib-cli	1.2.2
mixlib-config	1.1.2
mixlib-log	1.4.1
mixlib-shellout	1.0.0
moneta	0.6.0
net-ssh	2.2.2
net-ssh-gateway	1.1.0
net-ssh-multi	1.1
ohai	6.14.0
polyglot	0.3.3
rest-client	1.6.7
systemu	2.5.2
treetop	1.4.10
uuidtools	2.1.2
yajl-ruby	1.1.0
rails 3.0.10
activerecord 3.0.10
mysql 2.8.1
