fencing-agent
fuel
fuel-agent
fuel-bootstrap-cli
fuel-bootstrap-image
fuel-dockerctl
fuel-docker-images
fuel-ha-utils
fuel-library
fuelmenu
fuel-migrate
fuel-mirror
fuel-misc
fuel-nailgun
fuel-notify
fuel-openstack-metadata
fuel-ostf
fuel-provisioning-scripts
fuel-rabbit-fence
fuel-release
ironic-fa-bootstrap-configs
nailgun-agent
nailgun-mcagents
network-checker
python-fuelclient
python-packetary
rubygem-astute
shotgun
