apache2
apt-utils
chef
cloud-init
cobbler
cobbler-web
createrepo
debconf-utils
dnsmasq
libapache2-mod-wsgi
libapache2-svn
libhttpclient-ruby
libjson-ruby
libxml2-dev
ntp
ohai
python-dev
python-django
python-ipaddr
python-paramiko
python-pip
python-virtualenv
redis-server
rsync
rubygems
ruby-json
runit
tftpd-hpa
yum
yum-utils
