http://www.tcpdump.org/release/libpcap-1.3.0.tar.gz
http://pypcap.googlecode.com/files/pypcap-1.1.tar.gz
https://github.com/AlexanderPavlenko/raemon/archive/b78eaae57c8e836b8018386dd96527b8d9971acc.zip
https://github.com/AlexanderPavlenko/marionette-collective/archive/9f8d2ec75ba326d2a37884224698f3f96ff01629.zip
https://github.com/sstephenson/rbenv/archive/382db59cd0c16518d0cec0974e220a2c46aa7a25.zip
https://github.com/sstephenson/ruby-build/archive/1fb955eead087646f4d73ac36786432c380309a9.zip
http://pyyaml.org/download/libyaml/yaml-0.1.4.tar.gz
http://ftp.ruby-lang.org/pub/ruby/1.9/ruby-1.9.3-p392.tar.gz
