amqplib	1.0.2
anyjson	0.3.1
celery	2.5.3
coverage	3.5.2
Django	1.4
django-celery	2.5.5
django-nose	1.0
django-picklefield	0.2.1
django-piston	0.2.3
eventlet	0.9.17
greenlet	0.4.0
ipaddr	2.1.10
jsonfield	0.9
kombu	2.1.8
netaddr	0.7.10
nose	1.1.2
paramiko	1.7.7.2
Paste	1.7.5.1
pycrypto	2.6
python-dateutil	1.5
redis	2.4.12
simplejson	2.5.2
SQLAlchemy	0.7.8
web.py	0.37
wsgilog	0.3
