anacron
apache2
aptitude
atop
bc
bridge-utils
build-essential
ceilometer-agent-central
ceilometer-agent-compute
ceilometer-agent-notification
ceilometer-alarm-evaluator
ceilometer-alarm-notifier
ceilometer-api
ceilometer-collector
ceilometer-common
ceph
ceph-deploy
ceph-mds
cinder-api
cinder-backup
cinder-scheduler
cinder-volume
cirros-testvm
cirros-testvmware
cloud-init
conntrackd
corosync
cpu-checker
cpufrequtils
curl
daemonize
debconf-utils
debhelper
devscripts
discover
discover-data
disktype
dkms
dnsmasq-base
dnsmasq-utils
dstat
erlang-dev
ethtool
fence-agents
fuel-utils
galera
git
glance-api
glance-common
glance-registry
grub-pc
haproxy
heat-api
heat-api-cfn
heat-api-cloudwatch
heat-common
heat-docker
heat-engine
hicolor-icon-theme
htop
ifenslave
installation-report
intel-microcode
iperf
iperf3
ipmitool
iptables-persistent
kdump-tools
keystone
language-pack-en
language-pack-en-base
language-pack-gnome-en
language-pack-gnome-en-base
libapache2-mod-fastcgi
libapache2-mod-wsgi
libguestfs-tools
libnss3-tools
libssl0.9.8
linux-firmware
linux-firmware-nonfree
lksctp-tools
lldpad
mc
mcelog
mcollective
mcollective-client
mdadm
memcached
mongodb-clients
mongodb-server
monit
murano
murano-dashboard
mysql-client
mysql-server-wsrep-5.6
nailgun-mcagents
nailgun-net-check
neutron-dhcp-agent
neutron-l3-agent
neutron-lbaas-agent
neutron-metadata-agent
neutron-metering-agent
neutron-plugin-bigswitch
neutron-plugin-bigswitch-agent
neutron-plugin-brocade
neutron-plugin-cisco
neutron-plugin-hyperv
neutron-plugin-ibm
neutron-plugin-ibm-agent
neutron-plugin-linuxbridge
neutron-plugin-linuxbridge-agent
neutron-plugin-metaplugin
neutron-plugin-metering-agent
neutron-plugin-midonet
neutron-plugin-ml2
neutron-plugin-mlnx
neutron-plugin-mlnx-agent
neutron-plugin-nec
neutron-plugin-nec-agent
neutron-plugin-nicira
neutron-plugin-oneconvergence
neutron-plugin-oneconvergence-agent
neutron-plugin-openflow-agent
neutron-plugin-openvswitch
neutron-plugin-openvswitch-agent
neutron-plugin-plumgrid
neutron-plugin-ryu
neutron-plugin-ryu-agent
neutron-plugin-vmware
neutron-plugin-vpn-agent
neutron-server
neutron-vpn-agent
nfs-common
nginx
nmap
nodejs
node-less
nova-api
nova-cert
nova-compute-kvm
nova-compute-qemu
nova-conductor
nova-consoleauth
nova-network
nova-novncproxy
nova-objectstore
nova-scheduler
novnc
ntp
ohai
openhpid
openssh-server
openstack-dashboard
openvswitch-switch
os-prober
pacemaker
pcs
percona-toolkit
percona-xtrabackup
pssh
puppet
python-carrot
python-ceilometer
python-ceilometerclient
python-ceph
python-daemon
python-daemonize
python-dingus
python-ethtool
python-feedparser
python-gflags
python-glance
python-gobject
python-gobject-2
python-heatclient
python-keyring
python-keystone
python-ldap
python-libxml2
python-memcache
python-muranoclient
python-mysqldb
python-netifaces
python-neutron
python-nose
python-novnc
python-openid
python-openstack-auth
python-openstackclient
python-passlib
python-pastescript
python-pexpect
python-pycurl
python-pylibmc
python-pyudev
python-rabbit
python-saharaclient
python-scapy
python-scgi
python-setuptools-git
python-sqlalchemy-ext
python-stompy
python-swift
python-utidylib
python-zmq
qemu-kvm
qemu-utils
rabbitmq-server
radosgw
ruby
ruby-cstruct
ruby-dev
ruby-httpclient
ruby-i18n
ruby-ipaddress
ruby-json
ruby-netaddr
ruby-openstack
ruby-rethtool
ruby-stomp
sahara
screen
sheepdog
socat
swift
swift-account
swift-container
swift-object
swift-plugin-s3
swift-proxy
sysstat
tasksel
tcptraceroute
tmux
traceroute
ubuntu-minimal
ubuntu-standard
vgabios
vim
virt-what
vlan
xinetd
zabbix-agent
zabbix-frontend-php
zabbix-server-mysql
zabbix-server-pgsql
