<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Releases</h3>
  </div>
</div>

<div class="table-releases-box">

<% if (releases.length) { %>

  <table class="table table-bordered table-striped releases-table">
    <thead>
      <tr>
        <th>OpenStack Release</th>
        <th>Version</th>
        <th>Operating System</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>

<% } else { %>
  <div class="alert">There are no releases available.</div>
<% } %>

</div>
