<div class="row">
  <div class="span12"><h1>OpenStack Releases</h1></div>
</div>
<% if (releases.length) { %>
  <section>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <% releases.each(function(release) { %>
        <tr>
          <td><%= release.get('name') %> <%= release.get('version') %></td>
          <td><%= release.get('description') %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </section>
<% } else { %>
  <div class="alert">There are no OpenStack releases available.</div>
<% } %>
