<td><%- release.get('name') %></td>
<td><%- release.get('version') %></td>
<td class="release-status">
  <% var state = '';
     if (release.get('state') == 'available') {
       state = 'Available'; 
     } else if (release.get('state') == 'error') {
       state = 'Error';
     } else {
       state = 'Not available';
     }
  %>
  <span class="<%= state == 'available' ? available : not_available%>"> <%- state %></span>
</td>
<td>
  <% if (release.get('state') != 'available') { %>
    <span class="btn-link btn-rhel-setup">Setup</span>
    <div class="download_progress hide">
      <div class="progress progress-success progress-striped active">
        <div class="bar" style="width: 0%;"></div>
      </div>
      <div class="bar-title">Downloading RHEL</div>
    </div>
  <% } %>
</td>
