<td><%- release.get('name') %></td>
<td width="10%"><%- release.get('version') %></td>
<td class="release-status">
  <% var stateMessages = {
       'available': 'Available',
       'error': 'Error',
       'not_available': 'Not available',
       'downloading': 'Downloading'
     }
     var state = stateMessages[release.get('state')];
  %>
  <span class="<%= release.get('state') == 'available' ? 'available' : 'not_available'%>"> <%- state %></span>
</td>
<td class="center">
  <% if (release.get('state') != 'available') { %>
    <button class="btn btn-info btn-rhel-setup"><i class="icon-install"></i>&nbsp;Setup</button>

    <div class="download_progress hide">
      <div class="progress progress-success progress-striped active">
        <div class="bar" style="width: 0%;"></div>
      </div>
      <div class="bar-title">Downloading RHEL</div>
    </div>
  <% } %>
</td>
