<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h2>Assign Roles</h2>
</div>
<div class="modal-body">
  <h3>Please choose deployment type</h3>
  <form>
    <table class="table">
      <tbody>
        <tr>
          <td style="width: 16px;">
            <label class="radio">
              <input type="radio" name="type">
            </label>
          </td>
          <td>
            <p>Simple Deployment</p>
            <p><small>Simple OpenStack deployment</small></p>
          </td>
        </tr>
        <tr>
          <td style="width: 16px;">
            <label class="radio">
              <input type="radio" name="type">
            </label>
          </td>
          <td>
            <p>HA Deployment</p>
            <p><small>Highly-available OpenStack deployment</small></p>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success assign-roles-btn">Assign Roles</button>
</div>
