<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h2>Assign Roles</h2>
</div>
<div class="modal-body">
  <h3>Please choose deployment type</h3>
  <form>
    <div class="row-fluid" style="margin-top: 20px;">
      <div class="span4"></div>
      <div class="span4">
        <div class="progress progress-striped progress-success active">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success assign-roles-btn">Assign Roles</button>
</div>
