<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h2>Create a new OpenStack installation</h2>
</div>
<div class="modal-body">
  <form class="form-horizontal" onsubmit="return false">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
          <input type="text" class="span4" name="name">
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">OpenStack Release</label>
        <div class="controls">
          <select class="span4" name="release"></select>
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group available-nodes-group">
        <label class="control-label">Select Nodes</label>
        <div class="controls">
          <div class="row-fluid">
            <div class="span10">
              <div class="available-nodes">
                <div class="progress progress-striped progress-success active">
                  <div class="bar" style="width: 100%"></div>
                </div>
              </div>
            </div>
            <div class="span2"></div>
          </div>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success create-cluster-btn">Create Cluster</button>
</div>
