<% if (nodes.length) { %>
  <% var count = 0 %>
  <div class="row-fluid">
    <% nodes.each(function(node) { %>
      <div class="span<%= Math.floor(12 / rowSize) %>">
        <div class="dialog-node <%= checked ? 'node-checked' : 'node-unchecked' %>" data-node-id="<%= node.id %>">
          <i class="icon-ok icon-white"></i>
          <div class="article"><%= node.fullProductName() %></div>
          <% var manufacturer = node.get('manufacturer').toLowerCase() %>
          <% var knownManufacturers = ['hp', 'dell', 'vmware', 'vbox', 'virtualbox', 'xen', 'kvm', 'qemu', 'openvz'] %>
          <% if (_.contains(knownManufacturers, manufacturer)) { %>
            <div class="platform-icon <%= manufacturer %>"></div>
          <% } else { %>
            <div class="platform-icon">
              <i class="icon-hdd"></i>
            </div>
          <% } %>
          <ul>
            <li class="macaddr"><%= node.mac() %></li>
          </ul>
          <ul>
            <li>CPU: <%= _.isNumber(node.resource('cpu')) ? node.resource('cpu') : '?' %></li>
            <li>HDD: <%= _.isNumber(node.resource('hdd')) ? node.resource('hdd').toFixed(2) : '?' %> TB</li>
            <li>RAM: <%= _.isNumber(node.resource('ram')) ? node.resource('ram').toFixed(1) : '?' %> GB</li>
          </ul>
        </div>
      </div>
      <% count++ %>
      <% if (!(count % rowSize)) { %>
        </div><div class="row-fluid">
      <% } %>
    <% }) %>
  </div>
<% } else { %>
  There are no nodes.
<% } %>
