<% if (nodes.length) { %>
  <% var count = 0 %>
  <div class="row-fluid">
    <% nodes.each(function(node) { %>
      <div class="span3">
        <div class="dialog-node <%= checked ? 'node-checked' : 'node-unchecked' %>" data-node-id="<%= node.id %>">
          <i class="icon-ok icon-white"></i>
          <% var fullProductName = (node.get('manufacturer') ? node.get('manufacturer') + ' ' + node.get('platform_name') : node.get('platform_name')) || 'Unknown Platform' %>
          <div class="article"><%= fullProductName %></div>
          <% var manufacturer = node.get('manufacturer').toLowerCase() %>
          <% var knownManufacturers = ['hp', 'dell', 'vmware', 'vbox', 'virtualbox', 'xen', 'kvm', 'qemu', 'openvz'] %>
          <% if (_.contains(knownManufacturers, manufacturer)) { %>
            <div class="platform-icon <%= manufacturer %>"></div>
          <% } else { %>
            <div class="platform-icon">
              <i class="icon-hdd"></i>
            </div>
          <% } %>
          <ul>
            <li class="macaddr"><%= node.id %></li>
          </ul>
          <ul>
            <li>CPU: X</li>
            <li>HDD: X TB</li>
            <li>RAM: X GB</li>
          </ul>
        </div>
      </div>
      <% count++ %>
      <% if (!(count % 4)) { %>
        </div><div class="row-fluid">
      <% } %>
    <% }) %>
  </div>
<% } else { %>
  There are no nodes.
<% } %>
