html {
  background: #474e59 url(../img/bg-main.jpg) repeat;
  font-family: 'Segoe UI', Helvetica, Georgia, Tahoma, Arial;
  height: 100%;
}
body {
  overflow-y: scroll;
  background: -moz-radial-gradient(center top, rgba(128, 134, 143, 0.3) 0%, rgba(128, 134, 143, 0.3) 30%, rgba(128, 134, 143, 0.0) 55%);
  background: -webkit-gradient(radial, center top, 0, center top, 30%, center top, 55%, color-stop(100%,rgba(128, 134, 143, 0.3)), color-stop(100%,rgba(128, 134, 143, 0.3)), color-stop(100%,rgba(128, 134, 143, 0.0)));
  background: -webkit-radial-gradient(center top, rgba(128, 134, 143, 0.3) 0%, rgba(128, 134, 143, 0.3) 30%, rgba(128, 134, 143, 0.0) 55%);
  background: -o-radial-gradient(center top, rgba(128, 134, 143, 0.3) 0%, rgba(128, 134, 143, 0.3) 30%, rgba(128, 134, 143, 0.0) 55%);
  background: -ms-radial-gradient(center top, rgba(128, 134, 143, 0.3) 0%, rgba(128, 134, 143, 0.3) 30%, rgba(128, 134, 143, 0.0) 55%);
  background: radial-gradient(center top, rgba(128, 134, 143, 0.3) 0%, rgba(128, 134, 143, 0.3) 30%, rgba(128, 134, 143, 0.0) 55%);
  font-family: 'Segoe UI', Helvetica, Georgia, Tahoma, Arial;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI Light', Helvetica, Georgia, Tahoma, Arial;
  font-weight: 100;
}

h1.page-title,
h2.page-title,
h3.page-title,
h4.page-title,
h5.page-title,
h6.page-title {
  color: #ffffff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.35);
  display: inline-block;
}

.container,
.navbar-static-top .container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  width: 982px;
}

/*  Navigation */
.navigation-bar {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  height: 47px;
  border: solid 1px #1f2328;
  border-radius: 4px;
  overflow: hidden;
  color: #999999;
  font-weight: 200;

  -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.55), inset 0 -5px rgba(34,34,35,.75);
  -moz-box-shadow: 0 3px 9px rgba(0,0,0,.55), inset 0 -5px rgba(34,34,35,.75);
  box-shadow: 0 3px 9px rgba(0,0,0,.55), inset 0 -5px rgba(34,34,35,.75);

  background: url(../img/nav_bg.png) repeat-x top left;
  /*
  background-image: -webkit-linear-gradient(top, #555, #333);
  background-image: -moz-linear-gradient(top, #555, #333);
  background-image: -o-linear-gradient(top, #555, #333);
  background-image: -ms-linear-gradient(top, #555, #333);
  background-image: linear-gradient(to bottom, #555, #333);
  */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.navigation-bar-box {
  display: block;
  width: 100%;
  height: 40px;
  overflow: hidden;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.0), inset 0 1px rgba(255,255,255,.1);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.0), inset 0 1px rgba(255,255,255,.1);
  box-shadow: 0 2px 6px rgba(0,0,0,.0), inset 0 1px rgba(255,255,255,.1);
}

.navigation-bar-ul {
  margin: 0px;
  padding: 0px;
}

.navigation-bar-ul > li {
  display: block;
  overflow: hidden;
  height: 40px;
  font-size: 16px;
  float: left;
  border-left: 1px solid #7789a0;
  border-right: 1px solid #3c3c3c;
}
.navigation-bar-ul > li:first-child {border-left: none;}


.navigation-bar-ul li:after {clear: both;}

.navigation-bar-ul li a {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  padding: 10px 20px 0px 20px;
  color: #bbbbbb;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}

.navigation-bar-ul li a:hover {
  display: block;
  width: 100%;
  height: 100%;
  color: #ffffff;
  text-decoration: none;
  background-image: -webkit-linear-gradient(top, #6f7e95, #586476);
  background-image: -moz-linear-gradient(top, #6f7e95, #586476);
  background-image: -o-linear-gradient(top, #6f7e95, #586476);
  background-image: -ms-linear-gradient(top, #6f7e95, #586476);
  background-image: linear-gradient(to bottom, #6f7e95, #586476);
  /*
  -webkit-box-shadow: 0 2px 6px rgba(0,0,0,.0), inset 0px 6px rgba(255,255,255,.5);
  -moz-box-shadow: 0 2px 6px rgba(0,0,0,.0), inset 0 1px rgba(255,255,255,.1);
  box-shadow: 0 2px 6px rgba(0,0,0,.0), inset 0px 4px 8px rgba(0,0,0,.3);
  */
}

.navigation-bar-ul .space {border-right: none;}

.navigation-bar-ul .active {color: #ffffff;}

.navigation-bar-icon {
  float: right !important;
  border: none !important;
}

.navigation-bar-icon > i {
  color: #2b3139;
  font-size: 30px;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 4px 10px 0px 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  cursor: pointer;
 }
 .navigation-bar-icon > i:hover {
  color: #899cb5;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
 .navigation-bar-icon > .badge {
  position: relative;
  top: -40px;
  left: 36px;
  padding: 0px 6px 1px 5px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.roles-action-link {
  padding-top: 8px;
}

.roles-action-link button, .settings-editable button {
  /* color: #999999; */
}

.roles-action-link button.disabled {
  color: #999999;
  opacity: 1;
  background-color: transparent;
}

.roles-action-link button:hover, .settings-editable button:hover {
  /* color: #666666; */
  text-decoration: none;
}

.roles-action-link button.disabled:hover {
  color: #999999;
}

/* White Box for Cluster content*/
.whitebox {
  display: block;
  width: 100%;
  margin: 60px 0px 30px 0px;
  padding: 20px 0px 20px 0px;

  /* padding: 20px; */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background-color: #ffffff;
  border: 1px solid #52555a;

  -webkit-border-radius: 4px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius: 4px;
  -moz-border-radius-topleft: 0;

  border-radius: 4px;
  border-top-left-radius: 0;
}

.whitebox hr {
  border-width: 1px 0 0 0;
  margin: 10px 0 15px 0;
}

.roles-block-row, .settings-header, .settings-editable > div:last-child {
    margin-left: -20px;
    padding: 0 20px;
    *zoom: 1;
}

.roles-block-row:before, .roles-block-row:after,
.settings-header:before, .settings-header:after,
.settings-editable > div:last-child:before, .settings-editable > div:last-child:after {
  display: table;
  line-height: 0;
  content: "";
}

.roles-block-row:after, .settings-header:after, .settings-editable > div:last-child:after {
  clear: both;
}

.tab-pane h3 {
  color: #333333;
  margin: 0px;
  padding: 0px;
  font-weight: 100;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.nodesbox-header, .settings-header {
  margin-bottom: 10px;
}

.settings-editable > div:last-child {
  margin-bottom: 20px;
}

.settings-editable > div:last-child fieldset {
  margin-left: 20px;
}

.settings-editable > div:last-child legend {
  text-transform: capitalize;
}

.nodesbox-header .checkbox {
  padding-left: 68px;
  padding-top: 10px;
}

.nodesbox-header h3 > span {
  font-size: 16px;
}

.nodebox {
  width: 172px;
  /* height: 226px; */
  margin-bottom: 20px;
  border: 1px solid #dadada;
  /* border-radius: 4px; */
  background-color: #eeeeee;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
}

.nodeplaceholder {
  height: 114px;
  background: none;
  border: 1.5pt dashed #dadada;
}

.node-select {
  display: block;
  width: 172px;
  height: 114px;
  float: left;
  margin-left: -1px;
  margin-top: -114px;
  border-radius: 4px;
  line-height: 52px;
  font-size: 60px;
  text-align: center;
  padding: 17px 0px 0px 9px;
  color: rgba(255,255,255,0.85);
  cursor: pointer;
}
.node-to-add-unchecked:hover {
  background-color: rgba(0, 100, 38, 0.25);
  box-shadow: 0 0px 6px rgba(0,0,0,.3),
  inset 0px 0px 0px rgba(255,255,255,.0);
  cursor: pointer;
}
.node-to-add-unchecked .node-select {
  display: none;
}
.node-to-add-checked:hover {
  background-color: rgba(0, 100, 38, 0.15);
  box-shadow: 0 0px 6px rgba(0,0,0,.3),
  inset 0px 0px 0px rgba(255,255,255,.0);
  cursor: pointer;
}
.node-to-add-checked .node-select {
  display: block;
  background-color: rgba(0, 100, 38, 0.25);
}

.node-to-delete-unchecked:hover {
  background-color: rgba(121, 0, 0, 0.25);
  box-shadow: 0 0px 6px rgba(0,0,0,.3),
  inset 0px 0px 0px rgba(255,255,255,.0);
  cursor: pointer;
}
.node-to-delete-unchecked .node-select {
  display: none;
}
.node-to-delete-checked:hover {
  background-color: rgba(121, 0, 0, 0.25);
  box-shadow: 0 0px 6px rgba(0,0,0,.3),
  inset 0px 0px 0px rgba(255,255,255,.0);
  cursor: pointer;
}
.node-to-delete-checked .node-select {
  display: block;
  background-color: rgba(121, 0, 0, 0.25);
}
.node-not-checkable:hover {
  background-color: rgba(130, 130, 130, 0.25);
  cursor: not-allowed !important;
}

.breaker {
  margin: 0px 20px 20px 20px;
}

.node-name {
  height: 33px;
  overflow: hidden;
  padding: 13px 10px 0px 54px;
  margin-bottom: 13px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  color: #333333;
}

.node-name .input-medium {
  margin: 0px;
  padding: 0px;
  height: 24px;
  width: 104px;
  font-size: 12px;
}

.node-name .node-renameable {
  cursor: pointer;
}

.node-status {
	height: 30px;
	overflow: hidden;
	margin-left: 13px;
	color: #666666;
	padding-right: 14px;
  text-align: center;
  font-size: 13px;
}

.node-status > .progress {
	height: 13px;
	background-color: #cacaca;
	background-image: none;
	border-radius: 3px 3px 3px 3px;
	margin-top: 5px;
}

.node-status > .progress > .bar > p {
  color: #FFFFFF;
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1px;
  margin: -4px 0 0 4px;
  text-align: left;
  text-shadow: none;
}

.node-status i {font-size: 15px;}

.checktoinstall {
  display: block;
  background-color: rgba(0, 100, 38, 0.25);
  width: 172px;
  height: 86px;
  float: left;
  margin-left: -172px;
  border-radius: 4px;
  line-height: 52px;
  font-size: 50px;
  cursor: pointer;
}
.checktoinstall > i {
  margin: 0px 0px 0px 60px;
  color: rgba(255, 255, 255, 0.65);
}
.checktodelete {
  display: block;
  background-color: rgba(121, 0, 0, 0.25);
  width: 172px;
  height: 86px;
  float: left;
  margin-left: -172px;
  border-radius: 4px;
  line-height: 52px;
  font-size: 50px;
  cursor: pointer;
}
.checktodelete > i {
  margin: 0px 0px 0px 60px;
  color: rgba(255, 255, 255, 0.65);
}
/*
.checktoinstall:hover {
  background-color: rgba(0, 100, 38, 0.35);
}
.checktodelete:hover {
  background-color: rgba(121, 0, 0, 0.35);
}
*/

.msg-ok {color: #17824b;}
.msg-info {color: #4794cf;}
.msg-error {color: #8b0000;}
.msg-warning {color: #b44200;}
.msg-unimportant {color: #888888;}


.assigned {
  height: 114px !important;
  border: 1px solid #afafaf;
}

.unassigned {
  height: 114px !important;
  border: 1px solid #afafaf;
}

.unassigned > .nodestatus {
  display: none;
}

.node-hardware {
  height: 24px;
  background-color: rgba(0, 0, 0, 0.09);
  border-top: 1px solid #afafaf;
  font-size: 9px;
  color: #666666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
}

.node-hardware > ul {list-style: none; margin: 0px; padding: 0px;}
.node-hardware > ul > li {display: block; width: 60px; float: left; margin-right: 0px; margin-top: 1px; text-align: center;}
.node-hardware > ul > li:first-child {width: 48px; text-align: right;}
.node-hardware > ul > li:last-child {text-align: left;}

.manufacturer-hp {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px 0px no-repeat;
}
.manufacturer-dell {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -120px no-repeat;
}
.manufacturer-virtualbox {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -240px no-repeat;
}
.manufacturer-vmware {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -360px no-repeat;
}
.manufacturer-xen {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -480px no-repeat;
}
.manufacturer-openvz {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -600px no-repeat;
}
.manufacturer-cisco {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -720px no-repeat;
}
.manufacturer-qemu {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -840px no-repeat;
}
.manufacturer-supermicro {
  background: #efefef url(../img/node_manufacturer_logos.png) 0px -960px no-repeat;
}
.openstack {
  background: url(../img/cluster_logos.png) 0px 0px no-repeat;
  background-position: 168px 0px;
}

.breadcrumb {
    background-color: rgba(0,0,0,.1);
    margin: -10px 0 10px 0;
    border-radius: 0 0 4px 4px;
}


.breadcrumb > li {
    text-shadow: 0 0 0;
}

.breadcrumb > li > a {
    color: #B0B0B0;
}
.breadcrumb > .active {color: #d0d0d0;}

.nav-tabs {
    border: none;
    margin-top: -70px;
}

.nav-tabs li {margin-left: -1px;}

.nav-tabs li a {
  height: 50px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 14px;
/*  padding-bottom: 8px; */
  line-height: 20px;
  border-color: #404c5c #404c5c #404c5c;
  background-color: #d0d0d0;
  background-image: -webkit-linear-gradient(bottom, #b0b0b0, #d0d0d0 30%);
  background-image: -moz-linear-gradient(bottom, #b0b0b0, #d0d0d0 30%);
  background-image: -o-linear-gradient(bottom, #b0b0b0, #d0d0d0 30%);
  background-image: -ms-linear-gradient(bottom, #b0b0b0, #d0d0d0 30%);
  background-image: linear-gradient(to top, #b0b0b0, #d0d0d0 30%);

  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 0 0 rgba(0,0,0,.0), inset 0px 1px 0px rgba(255,255,255,.45);
  -moz-box-shadow: 0 0 0  rgba(0,0,0,.0), inset 0px 1px 0px rgba(255,255,255,.45);
  box-shadow: 0 0 0 rgba(0,0,0,.0), inset 0px 1px 0px rgba(255,255,255,.45);

}

.nav-tabs > li > a { margin-right: 3px; /* margin: -3px 12px 0px 12px; */}
.nav-tabs > li > a > b {display: block; width: 30px; height: 30px; margin: -4px 12px 0px 12px;}
.tab-nodes-normal    {background: url(../img/tab_icons.png) no-repeat   0px   0px;}
.tab-nodes-good      {background: url(../img/tab_icons.png) no-repeat -30px   0px;}
.tab-nodes-bad       {background: url(../img/tab_icons.png) no-repeat -60px   0px;}

.tab-network-normal  {background: url(../img/tab_icons.png) no-repeat   0px -30px;}
.tab-network-good    {background: url(../img/tab_icons.png) no-repeat -30px -30px;}
.tab-network-bad     {background: url(../img/tab_icons.png) no-repeat -60px -30px;}

.tab-settings-normal {background: url(../img/tab_icons.png) no-repeat   0px -60px;}
.tab-settings-good   {background: url(../img/tab_icons.png) no-repeat -30px -60px;}
.tab-settings-bad    {background: url(../img/tab_icons.png) no-repeat -60px -60px;}

.tab-actions-normal {background: url(../img/tab_icons.png) no-repeat   0px -90px;}
.tab-actions-good   {background: url(../img/tab_icons.png) no-repeat -30px -90px;}
.tab-actions-bad    {background: url(../img/tab_icons.png) no-repeat -60px -90px;}

.tab-logs-normal {background: url(../img/tab_icons.png) no-repeat   0px -120px;}
.tab-logs-good   {background: url(../img/tab_icons.png) no-repeat -30px -120px;}
.tab-logs-bad    {background: url(../img/tab_icons.png) no-repeat -60px -120px;}

.nav-tabs li a:hover {
  border-color: #404c5c #404c5c #404c5c;
  background-image: -webkit-linear-gradient(bottom, #b8b8b8, #e8e8e8 30%);
  background-image: -moz-linear-gradient(bottom, #b8b8b8, #e8e8e8 30%);
  background-image: -o-linear-gradient(bottom, #b8b8b8, #e8e8e8 30%);
  background-image: -ms-linear-gradient(bottom, #b8b8b8, #e8e8e8 30%);
  background-image: linear-gradient(to top, #b8b8b8, #e8e8e8 30%);
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  background-image: none;
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border-color: #404c5c #404c5c #404c5c;
  border-bottom-color: transparent;
}

/*
.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(252, 248, 227, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(252, 248, 227, 0.3);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}
*/

/*
.globalalert {
  background-color: rgba(138, 85, 9, 0.3);
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.global-error {
  background-color: rgba(121, 0, 0, 0.3);
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.global-success {
  background-color: rgba(19, 35, 15, 0.3);
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.global-info {
  background-color: rgba(32, 54, 106, 0.3);
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}
*/

.globalalert,
.global-error,
.global-success,
.global-info {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
}

.globalalert > h4,
.global-error > h4,
.global-success > h4,
.global-info > h4 {
  font-family: 'Segoe UI', Helvetica, Arial;
  font-size: 20px;
  font-weight: 800;
  font-style: italic;
  margin-bottom: 6px;
}

.globalalert > h4 {color: #C09853;}
.global-error > h4 {color: #B94A48;}
.global-success > h4 {color: #468847;}
.global-info > h4 {color: #3A87AD;}

.globalalert > p,
.global-error > p,
.global-success > p,
.global-info > p {
  font-style: italic;
}

.clusterbox {
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden;
  height: 181px;
}

.clusterbox:hover {
  text-decoration: none;
  background-color: #dfe5eb;
  box-shadow: 0 1px 8px rgba(0,0,0,.85),
  inset 0px 0px 0px rgba(255,255,255,.0);
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  -webkit-transition: all 0.7s ease;
  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -ms-transition: all 0.7s ease;
  background-image: -webkit-linear-gradient(top, #f2f4f4, #c4cbcc);
  background-image: -moz-linear-gradient(top, #f2f4f4, #c4cbcc);
  background-image: -o-linear-gradient(top, #f2f4f4, #c4cbcc);
  background-image: -ms-linear-gradient(top, #f2f4f4, #c4cbcc);
  background-image: linear-gradient(to bottom, #f2f4f4, #c4cbcc);
}
.create-cluster {
  background-color: rgba(0, 0, 0, 0.1);
  /* border: 1px solid transparent; */
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 1px rgba(0, 0, 0, 0.4) inset;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
}

.create-cluster:hover {
  background-color: #c8cfd6;
  box-shadow: 0 1px 8px rgba(0,0,0,.85),
  inset 0px 0px 0px rgba(255,255,255,.0);
  /* border: 1px solid #2b3139; */
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
}
.create-cluster > .add-icon {
  display: block;
  height: 74px;
  margin-top: 36px;
  margin-bottom: 12px;
  text-align: center;
  background: url(../img/create_cluster_icon.png) no-repeat top center;
}
.create-cluster-text {
  font-size: 16px;
  text-align: center;
  color: #798797;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
}
.create-cluster:hover > .create-cluster-text {
  color: #333333;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
  -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
}
.cluster-name {
  height: 34px;
  overflow: hidden;
  /* padding: 13px 10px 0px 54px; */
  /* margin-bottom: 13px; */
  margin: 20px 20px 0px 20px;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #333333;
}
.cluster-hardware {
  /* background-color: #dadada; */
  margin-top: 1px;
  font-size: 13px;
  font-weight: 500;
  color: #666666;
  height: 72px;
  overflow: hidden;
}

.cluster-hardware > .row-fluid > .span4 {
  margin-left: 20px;
  min-height: 14px;
  line-height: 18px;
}

.cluster-hardware > .row-fluid > .span6 {
  margin-left: 20px;
  min-height: 14px;
  line-height: 18px;
}
.cluster-status {
  margin-top: 20px;
  padding-top: 5px;
  height: 26px;
  /* background-color: rgba(0, 0, 0, 0.09); */
  border-top: 1px solid #afafaf;
  font-size: 13px;
  text-align: center;
  color: #666666;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.45);
}

.summary {
  margin: 2px 20px 15px 20px;
}

.summary-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: -o-linear-gradient(top, #ffffff, #f2f2f2);
  background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
  background-repeat: repeat-x;
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
     -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}

.summary-article {
  display: block;
  float: left;
  padding: 9px 20px 10px;
  margin-left: -20px;
  font-size: 18px;
  font-weight: 200;
  color: #999999;
  text-shadow: 0 1px 0 #ffffff;
}

.summary-settings-btn {
  float: none;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFFFFF;
}

.summary-settings-btn b {
  color: #555555;
}

.summary-settings-btn.disabled {
  color: #555555;
  opacity: 1;
  background-color: transparent;
}
.summary-settings-btn:hover {
  text-decoration: none;
}

.summary-settings-btn.disabled:hover {
  color: #555555;
  cursor: default;
}

.deploy-btn {
  display: inline-block;
  *display: inline;
  padding: 4px 14px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 14px;
  line-height: 26px;
  *line-height: 26px;
  color: #333333;
  text-align: center;

  vertical-align: middle;
  cursor: pointer;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #a2a2a2;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);

  margin-top: 7px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  border: solid 1px #25282a;
  background-image: -webkit-linear-gradient(bottom, #205885, #4689db);
  background-image: -moz-linear-gradient(bottom, #205885, #4689db);
  background-image: -o-linear-gradient(bottom, #205885, #4689db);
  background-image: -ms-linear-gradient(bottom, #205885, #4689db);
  background-image: linear-gradient(to top, #205885, #4689db);
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.deploy-btn:hover {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  box-shadow: 0 0px 0px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  border: solid 1px #25282a;
  background-image: -webkit-linear-gradient(bottom, #1a476d, #3e76b1);
  background-image: -moz-linear-gradient(bottom, #1a476d, #3e76b1);
  background-image: -o-linear-gradient(bottom, #1a476d, #3e76b1);
  background-image: -ms-linear-gradient(bottom, #1a476d, #3e76b1);
  background-image: linear-gradient(to top, #1a476d, #3e76b1);
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.deploy-btn:active {
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  box-shadow: 0 0px 0px rgba(0,0,0,.34), inset 0 1px rgba(255,255,255,.17), inset 0 0 2px rgba(255,255,255,.13);
  border: solid 1px #25282a;
  background-image: -webkit-linear-gradient(bottom, #3e76b1, #1a476d);
  background-image: -moz-linear-gradient(bottom, #3e76b1, #1a476d);
  background-image: -o-linear-gradient(bottom, #3e76b1, #1a476d);
  background-image: -ms-linear-gradient(bottom, #3e76b1, #1a476d);
  background-image: linear-gradient(to top, #3e76b1, #1a476d);
  color: #ffffff;
  font-weight: 600;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.deploy-btn.disabled, .deploy-btn.disabled:hover, .deploy-btn[disabled], .deploy-btn[disabled]:hover {
  box-shadow: inset 0 2px 6px rgba(0,0,0,.17);
  text-shadow: none;
  color: rgba(255,255,255,0.4);
  cursor: default;
  background: rgba(0,0,0,0.1);
}

.modal-header h3 {
  font-size: 26px;
  margin: 0;
  line-height: 40px;
}

.table-releases-box {
  background-color: #ffffff;
  padding: 20px 20px 10px 20px;
  border-radius: 4px;
}

.table-releases th {color: #777777;}

.modal .help-block {
  color: #777777;
  font-size: 13px;
}

.loading {
  margin-top: 200px;
  width: 100%;
  height: 90px;
  background: url(../img/cloud-loader.gif) no-repeat top center;
}

.progress-deploy {
  width: 350px;
  padding: 2px;
  margin: 17px 0;
  height: 12px;
  background-color: #373e46;
  background-image: none;
}

.progress-verify-networks {
  width: 250px;
  padding: 2px;
  margin: 9px 0 0 0;
  height: 12px;
  background-color: #e3e3e3;
  background-image: none;
}

.progress-deploy > .bar, .progress-verify-networks > .bar {
  height: 12px;
  border-radius: 3px;
}

.verify-network {
  text-align: right;
  min-width: 230px;
}

.verify-network > div {
  text-align: right;
}

.verification-result {
  display: inline-block;
  font-weight: bold;
  margin: 0 7px 0 0;
  position: relative;
  top: 5px;
  max-width: 800px;
  overflow: hidden;
  word-break: break-all;
}

.networks-table {
  width: 100%;
  margin-bottom: 10px;
  margin-left: -20px;
}

.networks-table .row {
  margin: 8px 0;
}

.networks-table .control-group > div, .networks-table .networks-header > div {
  float: left;
  margin-left: 20px;
}

.networks-header {
  font-weight: bold;
}

.networks-header .network {
  width: 100px;
}

.networks-header .cidr {
  width: 220px;
}

.networks-header .vlan {
  width: 60px;
}

.networks-table .network-name {
  text-align: left;
  width: 100px;
  padding-top: 5px;
  text-transform: capitalize;
}

.networks-table .network-cidr {
  text-align: center;
  width: 220px;
  text-transform: capitalize;
}

.networks-table .network-vlan {
  text-align: center;
  width: 60px;
  text-transform: capitalize;
}

.networks-table .network-error {
  text-align: left;
  width: 300px;
  padding-top: 5px;
  text-transform: capitalize;
}

.network-error .help-inline {
  position: relative;
  top: -4px;
}

#networkManager {
  margin-bottom: 30px;
}


.settings-editable fieldset fieldset legend {
  font-size: 16px;
  font-weight: normal;
  border: none;
  margin-bottom: 0;
  max-width: 600px;
  padding: 0 10px;
  width: auto !important;
}

.settings-editable fieldset fieldset {
  border: 1px solid #bbb;
  padding-bottom: 10px;
  margin-right: 10px;
}

.settings-editable .control-group .control-group {
  margin-bottom: 15px;
  margin-top: 0px;
}

.settings-editable .btn {
  background-color: transparent;
}

.settings-editable .btn[disabled] {
  color: #999999;
  opacity: 1;
}

.settings-editable button[disabled]:hover {
  color: #999999;
}

.nodes-summary-stat {
  /*
  height: 20px;
  margin-bottom: 20px;
  */
  overflow: hidden;
  height: 14px;
  width: 102px;
  border: solid 1px #101010;
  margin: 12px 10px 0px 10px;
  /* border-radius 4px; */

  /* background-color: #f7f7f7; */
  background-image: -moz-linear-gradient(top, #d8d8d8, #b8b8b8);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d8d8d8), to(#b8b8b8));
  background-image: -webkit-linear-gradient(top, #d8d8d8, #b8b8b8);
  background-image: -o-linear-gradient(top, #d8d8d8, #b8b8b8);
  background-image: linear-gradient(to bottom, #d8d8d8, #b8b8b8);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  /* filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0); */
  -webkit-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
     -moz-box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
          box-shadow: 0 1px 1px rgba(255, 255, 255, 0.15);
}

.nodes-summary-stat .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.nodes-summary-stat .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
}

.nodes-summary-stat .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.nodes-summary-stat .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
}

.nodes-stat-popover {
  width: 100%;
}

.nodes-stat-popover tr td:last-child {
  text-align: right;
}


.roles-block-row:first-child .span2 {
  width: auto;
}

.roles-block-row:first-child .span2 label {
  white-space: nowrap;
}

.roles-block-row:first-child .span8 {
    width: 720px;
}

.roles-block-row:last-child .span10 {
  width: auto;
}

.tab-pane > div > div {
  overflow-y: hidden;
}

.wrapper {
  margin: 0 20px;
}

.wrapper h3 {
  margin-top: 0;
}

.display-changes-dialog > ul {
  margin-left: 35px;
}

.display-changes-dialog > ul > li {
  margin-top: 10px;
}

.pending-deletion-flag {
  display: block;
  position: relative;
  top: -114px;
  left: 0px;
  z-index: 100;
  width: 16px;
  height: 15px;
  background: url(../img/pending-flags.png) no-repeat top left;
}

.pending-addition-flag {
  display: block;
  position: relative;
  top: -114px;
  left: -1px;
  z-index: 100;
  width: 16px;
  height: 15px;
  background: url(../img/pending-flags.png) no-repeat 0px -16px;
}

/* message popup */
.message-list-placeholder {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  display: inline-block;
  width: 300px;
  max-height: 330px;
  position: absolute;
  top: -8px;
  left: 682px;
  z-index: 1000000;
  background-color: rgba(59, 72, 92, .95);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.65);
  border-radius: 4px 4px 4px 4px;
  background-clip: padding-box;
  border: 1px solid rgba(41, 49, 62, 1);
  padding: 10px;
  overflow: hidden;
  oveflow-y: auto;
}

.message-list {
  list-style: none outside none;
  margin: 2px 0 0;
}

.message-list .divider, .message-list .divider:hover {
    background-color: #303a49;
    border-bottom: 1px solid rgba(200, 200, 200, .2);
    height: 1px;
    margin: 9px 1px;
    overflow: hidden;
    cursor: default;
}

.message-list > li {
  margin-left: 26px;
  color: #85a2c8;
  white-space: pre-wrap;
  text-shadow: 0 1px 0 rgba(21, 21, 21, 0.5);
  font-size: 13px;
  cursor: pointer;
}

.message-list > .new {
  color: #ffffff;
  font-weight: 400;
}

.message-list > li:hover {
  background: none;
  color: #f99a14;
  text-decoration: none;
  cursor: pointer;
}

.message-list > li > i {
  display: block;
  float: left;
  margin-left: -22px;
  font-size: 16px;
}
