nose==1.2.1
git+https://github.com/stackforge/fuel-devops.git@2.3.1
anyjson==0.3.1
paramiko
proboscis==1.2.6.0
ipaddr
python-glanceclient>=0.9.0
python-keystoneclient>=0.3.2
python-novaclient>=2.15.0
python-cinderclient>=1.0.5
Jinja2
