nose==1.2.1
git+git://github.com/openstack/fuel-devops.git@2.9.21
anyjson>=0.3.3  # BSD
paramiko>=1.16.0  # LGPL
proboscis==1.2.6.0
ipaddr
junitxml>=0.7.0
python-glanceclient>=0.14.0,<0.15.0
python-keystoneclient>=0.10.0,<1.2.0
python-novaclient>=2.21.0,<2.24.0
python-cinderclient>=1.1.0,<=1.1.1
python-neutronclient>=2.3.6,<2.4.0
python-heatclient>=0.2.9,<0.3.0
Jinja2>=2.8  # BSD License (3 clause)
AllPairs==2.0.1
launchpadlib
