<li class="dropdown open" style="top: -230px; left: 120px;">
  <div class="dropdown-menu">
    <button type="button" class="close">×</button>
    <h4>Roles</h4>
    <% if (availableRoles.length) { %>
      <ul>
        <% availableRoles.each(function(role) { %>
          <li data-role-id="<%= role.id %>" class="role <%= role.get('available') ? 'available' : 'unavailable' %> <%= nodeRoles.get(role.id) ? 'checked' : 'unchecked' %>">
            <i class="icon-ok"></i><%= role.get('name') %>
          </li>
        <% }) %>
        <li class="divider"></li>
      </ul>
      <div class="applybtn">
        <button class="btn btn-success btn-small disabled">Save</button>
      </div>
    <% } else { %>
      <div class="noroles">
        <div class="progress progress-striped progress-success active">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
    <% } %>
  </div>
</li>
