<li class="dropdown open" style="top: -174px; left: 80px;">
  <ul class="dropdown-menu">
    <button type="button" class="close">×</button>
    <li class="uncheck"><h4>Roles Settings</h4></li>
    <% if (roles.length) { %>
      <% roles.each(function(role) { %>
        <li class="check"><a href="#" data-role-id="<%= role.id %>"><i class="icon-ok"></i><%= role.get('name') %></a></li>
      <% }) %>
      <li class="divider"></li>
      <li class="applybtn"><a href="#" class="btn btn-success">Apply Roles</a></li>
    <% } else { %>
      <li class="noroles">(No Available Roles)</li>
    <% } %>
  </ul>
</li>
