Paste==1.7.5.1
SQLAlchemy==0.7.8
amqplib==1.0.2
anyjson==0.3.3
coverage==3.5.2
distribute==0.6.24
eventlet==0.9.17
greenlet==0.4.0
ipaddr==2.1.10
kombu==2.4.5
paramiko==1.7.7.2
web.py==0.37
mock==1.0b1
nose==1.1.2
coverage==3.5.2