[Unit]
Name=Send to syslog
ConditionFileExecutable=/usr/bin/send2syslog.py
ConditionPathExists=/etc/send2syslog.conf
After=rc-local.service

[Service]
ExecStart=/usr/bin/send2syslog.py -c /etc/send2syslog.conf -n

[Install]
WantedBy=multi-user.target
