[Unit]
Name=Setup boot device
ConditionFileExecutable=/usr/bin/setup-bootdev
ConditionPathExists=/etc/sysconfig/network-scripts/network-functions
Before=network.service mcollective.service ntpdate.service ntpd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/setup-bootdev
ExecStartPost=-/usr/bin/fix-configs-on-startup
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
