<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Support</h3>
  </div>
</div>
<div class="row-fluid" style="color:white">
  <div class="span12">
    <p>
      You can contact our support team by visiting Fuel Web support page.
    </p>
    <p>
      <a class="btn" href="http://fuel.mirantis.com/support/" target="_blank">Visit support page</a>
    </p>
    <p></p>
    <p>
      If you have encountered some bugs or errors while using Fuel Web, you may also need to provide the support team with Fuel Web logs.
      You can download them by clicking this button:
    </p>
    <p>
      <button class="btn download-logs">Download logs</button>
    </p>
  </div>
</div>
