<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Support</h3>
  </div>
</div>
<div class="support page-wrapper">
  <div class="span12">
    <p>
      <a class="btn" href="http://fuel.mirantis.com/create-subscriber/?key=<%- this.model.get('key') %>" target="_blank">Register Fuel</a>
    </p>
    <p>
      Registering will ensure that you receive important notifications about issues and new versions of Fuel.  In addition, you will receive access to our basic support services for the next 30 days!
    </p>
    <p>
      Do not hesitate to report a problem or suggest an improvement by clicking the button below. We will get back to you as soon as possible.
    </p>
    <p>
      <a class="btn" href="https://mirantis.zendesk.com/requests/new" target="_blank">Contact support</a>
    </p>
    <p>
      If you have any questions, you can reach out developers at IRC channel #openstack-fuel on <a href="http://freenode.net" target="_blank">freenode.net</a>.
    </p>
    <p></p>
    <p>
      If you have encountered some bugs or errors while using Fuel Web, you may also need to provide the support team with Fuel Web logs.
      You can download them by clicking this button:
    </p>
    <p>
      <button class="btn download-logs">Download logs</button>
    </p>
  </div>
</div>
