[DEFAULT]

debug=true
verbose=true

[identity]

uri=http://{{ management_vip }}:5000/v2.0/
uri_v3=http://{{ management_vip }}:5000/v3.0/

username={{username}}
password={{password}}
tenant_name={{tenant_name}}

admin_username={{admin_username}}
admin_tenant_name={{admin_tenant_name}}
admin_password={{admin_password}}

[dashboard]

dashboard_url=http://{{ management_vip }}/dashboard/
login_url=http://{{ management_vip }}/dashboard/auth/login/

[network]

tenant_network_cidr={{ internal_cidr }}
tenant_network_mask_bits={{ internal_mask }}
public_network_id={{ public_network }}
public_router_id={{ public_router}}

[network-feature-enabled]

ipv6=false

[service_available]
{% if net_provider == 'neutron' %}
neutron=true
{% endif %}

[compute]

image_ref={{image_ref}}
{% if image_ref_alt %}
    image_ref_alt={{image_ref_alt}}
{% else %}
    image_ref_alt={{image_ref}}
{% endif %}
