<div class="navigation-bar">
  <div class="navigation-bar-box">
    <ul class="navigation-bar-ul">
      <% _.each(elements, function(element) { %>
        <li><a href="<%= element[1] %>"><%= element[0] %></a></li>
      <% }) %>
      <li class="space"></li>
      <li class="navigation-bar-icon"><i class="icon-comment-1-1"></i><span class="badge badge-warning">∞</span></li>
      <li class="navigation-bar-icon nodes-summary-container"></li>
    </ul>
  </div>
</div>

<div style="position: relative;">
  <div class="message-list-placeholder">
    <ul class="message-list" role="menu">
      <li class="new"><i class="icon-bell"></i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ac ante nisl, non mattis sapien.</a></li>
      <li class="divider"></li>
      <li><i class="icon-attention-4"></i>Praesent hendrerit, est in tincidunt faucibus, massa odio blandit ante, ut rhoncus libero augue fermentum erat</a></li>
      <li class="divider"></li>
      <li><i class="icon-info-circle-1"></i>Donec ac aliquet velit. Aliquam sagittis interdum lorem, sed porta purus ullamcorper eu.</a></li>
      <li class="divider"></li>
      <li><i class="icon-glass"></i>Let's drink now!</a></li>    
    </ul>
  </div>
</div>
