<!--
<div class="header-box">
  <div class="header-logo"></div>
  <div class="header-info">
    <div class="header-user"><i class="icon-user"></i><p>Admin</p></div>
    <div class="header-version"></div>
  </div>
</div>
-->

<div class="navigation-bar">
  <div class="navigation-bar-box">
    <ul class="navigation-bar-ul">
      <li class="product-logo">
        <a href="#"><div class="logo"></div></a>
      </li>
      <% _.each(elements, function(element) { %>
        <li><a href="<%- element[1] %>"><%- element[0] %></a></li>
      <% }) %>
      <li class="space"></li>
      <li class="navigation-bar-icon notifications"></li>
      <li class="navigation-bar-icon nodes-summary-container"></li>
    </ul>
  </div>
</div>
