<div id="notification-wrapper">
  <div class="message-list-placeholder">
    <ul class="message-list-popover" role="menu">
      <% if (notifications.length) { %>
        <% _.each(notifications.last(displayCount).reverse(), function(notification, index) { %>
          <% var topic = notification.get('topic') %>
          <li class="enable-selection <%= notification.get('status') == 'unread' ? 'new' : '' %> <%= topic == 'discover' ? 'discover' : '' %>" data-node="<%- notification.get('node_id') %>">
            <i class="<%= topic == 'error' ? 'icon-attention' : topic == 'discover' ? 'icon-bell' : 'icon-info-circled' %>"></i>
            <%= app.urlify(notification.escape('message')) %>
          </li>
          <li class="divider"></li>
        <% }) %>
      <% } else { %>
        <li>There are no notifications to display</li>
      <% } %>
    </ul>
    <%= notifications.length ? '<div class="show-more-notifications"><a href="#notifications">View all</a></div>' : '' %>
  </div>
</div>