<div id="notification-wrapper">
  <div class="message-list-placeholder">
    <ul class="message-list" role="menu">
      <% if (notifications.length) { %>
        <% _.each(notifications, function(notification) { %>
          <li data-notificationid="<%= notification.get('id') %>"<%= notification.get('status') == 'read' ? ' class="new"' : '' %>>
            <% var topic = notification.get('topic') %>
            <i class="<%= topic == 'error' ? 'icon-attention-4' : topic == 'discover' ? 'icon-bell' : 'icon-info-circle-1' %>"></i>
            <%= notification.get('message') %>
          </li>
          <li class="divider"></li>
        <% }) %>
      <% } else { %>
        <li>There are no notifications to display</li>
      <% } %>
    </ul>
  </div>
</div>
