<% if (account.deferred.state() != 'pending') { %>
  <form class="form-horizontal rhel-license" onsubmit="return false">
    <div class="radio-checkbox-group">
        <div class="item-box">
          <label class="parameter-box clearfix">
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="radio" <%= account.get('license_type') == 'rhsm' || _.isUndefined(account.get('license_type'))  ?  'checked=""' : '' %> name="license-type" value="rhsm">
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="parameter-name">RHSM</div>
          </label>
        </div>

        <div class="item-box">
          <label class="parameter-box clearfix">
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="radio" <%= account.get('license_type') == 'rhn' ?  'checked=""' : '' %> name="license-type" value="rhn">
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="parameter-name">RHN Satellite</div>
          </label>
        </div>
    </div>

    <fieldset>
      <div class="control-group">
        <label class="control-label">Red Hat Username</label>
        <div class="controls">
          <input type="text" class="input-large" name="username" maxlength="50" autofocus value="<%- account.get('username') %>" />
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Red Hat Password</label>
        <div class="controls">
          <input type="password" class="input-large" name="password" maxlength="50" value="<%- account.get('password') %>" />
          <span class="help-inline"></span>
        </div>
      </div>
       <div class="control-group rhn">
        <label class="control-label">Satellite Server Hostname</label>
        <div class="controls">
          <input type="text" class="input-large" name="satellite" maxlength="50" placeholder="example: satellite.domain.com" value="<%- account.get('satellite') %>" />
          <span class="help-inline"></span>
        </div>
      </div>
       <div class="control-group rhn">
        <label class="control-label">Activation Key</label>
        <div class="controls">
          <input type="password" class="input-large" name="activation_key" maxlength="260" value="<%- account.get('activation_key') %>" />
          <span class="help-inline"></span>
        </div>
      </div>
    </fieldset>
  </form>
  <div class="alert alert-error hide"></div>
<% } else { %>
  <div class="row row-fluid">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>
<% } %>
