<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Notifications</h3>
  </div>
</div>
<div class="notifications-list">
  <ul class="message-list" role="menu">
    <% if (notifications.length) { %>
      <% _.each(notifications.last(displayCount).reverse(), function(notification, index) { %>
        <% var topic = notification.get('topic') %>
        <li class="enable-selection <%= notification.get('status') == 'unread' ? 'new' : '' %> <%= topic == 'discover' ? 'discover' : '' %>" data-node="<%- notification.get('node_id') %>">
          <i class="<%= topic == 'error' ? 'icon-attention' : topic == 'discover' ? 'icon-bell' : 'icon-info-circled' %>"></i>
          <span class="datetime"><%= notification.escape('date') %> <%= notification.escape('time') %></span>
          <%= app.urlify(notification.escape('message')) %>
        </li>
      <% }) %>
    <% } else { %>
      <div class="row row-fluid">
        <div class="span4"></div>
        <div class="span4">
          <div class="progress progress-striped progress-success active">
            <div class="bar" style="width: 100%"></div>
          </div>
        </div>
      </div>
    <% } %>
  </ul>
</div>
