<div class="row-fluid">
  <div class="span12">
    <h3 class="page-title">Notifications</h3>
  </div>
</div>
<div class="notifications-list page-wrapper">
  <ul class="message-list" role="menu">
    <% if (notifications.deferred.state() != 'pending') { %>
      <% _.each(notifications.last(displayCount).reverse(), function(notification, index) { %>
        <% var topic = notification.get('topic') %>
        <li class="notification-box enable-selection <%= notification.get('status') == 'unread' ? 'new' : '' %> <%= topic %>">
          <div class="icon"><i class="<%= topic == 'error' ? 'icon-attention' : topic == 'discover' ? 'icon-bell' : 'icon-info-circled' %>"></i></div>
          <div class="datetime"><%= notification.escape('date') %> <%= notification.escape('time') %></div>
          <div class="message" data-node="<%- notification.get('node_id') %>"><%= app.urlify(notification.escape('message')) %></div>
        </li>
      <% }) %>
    <% } else { %>
      <div class="row row-fluid">
        <div class="span4"></div>
        <div class="span4">
          <div class="progress progress-striped progress-success active">
            <div class="bar" style="width: 100%"></div>
          </div>
        </div>
      </div>
    <% } %>
  </ul>
</div>
