<div class="wrapper">
  <h3 class="span12">Actions</h3>
  <div class="row-fluid">
    <div class="span6 action-item-placeholder">
      <form class="rename-cluster-form" onsubmit="return false">
        <h4>Rename Environment</h4>
        <div class="action-item-controls">
          <input type="text" class="input-xlarge" maxlength="50" value="<%- cluster.get('name') %>">
          <button class="btn btn-success apply-name-btn" style="margin-top: -10px;">Rename</button>
        </div>
        <div class="action-item-description">
          <div class="alert alert-error hide"></div>
        </div>
      </form>
    </div>
    <div class="span6 action-item-placeholder">
      <form class="delete-cluster-form" onsubmit="return false">
        <h4>Delete Environment</h4>
        <div class="action-item-description important">
            Clean up each node and return it to the pool of unallocated nodes.
        </div>
        <div class="action-item-controls">
          <button class="btn btn-danger delete-cluster-btn">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
