<ul class="dropdown-menu actions-menu" role="menu" aria-labelledby="dLabel">
  <li class="actions-item">
    <h4>Environment Mode</h4>
    <label class="parameter-box clearfix">
      <div class="parameter-control">
        <div class="custom-tumbler">
          <input type="radio" checked="" name="env-mode" value="Environment-mode">
          <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
        </div>
      </div>
      <div class="parameter-name">Multi-node</div>
    </label>
    <label class="parameter-box clearfix">
      <div class="parameter-control">
        <div class="custom-tumbler">
          <input type="radio" checked="" name="env-mode" value="Environment-mode">
          <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
        </div>
      </div>
      <div class="parameter-name">Multi-node with HA</div>
    </label>
    <div class="alert alert-info text-center">Multi-node with HA</div>
  </li>
  <li class="divider" role="presentation"></li>
  <li class="actions-item">
    <h4>Rename Environment</h4>
    <input class="input-medium" type="text" placeholder="Just a Cluster Name">
  </li>
  <li class="divider" role="presentation"></li>
  <li class="actions-item">
    <h4>Delete Environment</h4>
    <p class="text-error">Clean up each node and return it to the pool of unallocated nodes.</p>
    <div class="action-item-controls">
      <button class="btn btn-danger delete-cluster-btn">Delete</button>
    </div>
  </li>
</ul>
