<div class="wrapper">
  <h3 class="span12">Actions</h3>

  <form class="rename-cluster-form" onsubmit="return false">
    <legend>Rename installation</legend>
    <input type="text" maxlength="50" value="<%- cluster.get('name') %>">
    <button class="btn btn-success apply-name-btn" style="margin-top: -10px;"><i class="icon-ok-4"></i></button>
  </form>

  <form class="delete-cluster-form" onsubmit="return false">
    <legend>Delete installation</legend>
    <div class="msg-error cluster-removing-description"><span class="label label-important">Important</span> With cluster removal all nodes will be cleaned up and returned to the pool of unallocated nodes.</div>
    <button class="btn btn-danger delete-cluster-btn">Delete installation</button>
  </form>
</div>
