<div class="roles-block-row nodesbox-header">
    <div class="span10"><h3>Add <%= role %> nodes</h3></div>
    <div class="span2 pull-right"><label class="checkbox"><input type="checkbox"> Select all</label></div>
</div>

        <div class="roles-block-row">

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-hp node-install-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-ok"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-dell node-install-check">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-ok"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-virtualbox node-install-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-ok"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-vmware node-install-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-ok"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-vmware node-install-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-ok"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-vmware node-install-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-ok"></i></div>
        </div>
        <!-- End Node -->


        </div>
        <!-- End Roles Block -->

        <hr class="breaker">

        <div class="roles-block-row">
          <div class="span10">&nbsp;</div>
          <div class="span1 pull-right"><div class="btn btn-success">Apply</div></div>
          <div class="span1 pull-right"><div class="btn">Cancel</div></div>
        </div>

        <!-- Start Roles Block Header -->
        <div class="roles-block-row nodesbox-header">
          <div class="span10"><h3>Delete Nodes from Compute</h3></div>
          <div class="span2 pull-right"><label class="checkbox"><input type="checkbox"> Select all</label></div>
        </div>
        <!-- End Roles Block Header -->

        <!-- Start Nodes Block -->
        <div class="roles-block-row">

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-vmware node-delete-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-cancel"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-virtualbox node-delete-check">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-cancel"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-dell node-delete-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-cancel"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-hp node-delete-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-cancel"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-dell node-delete-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-cancel"></i></div>
        </div>
        <!-- End Node -->

        <!-- Start Node -->
        <div class="span2 nodebox unassigned manufacturer-dell node-delete-uncheck">
          <div class="node-name">Long Long Long Long Node Name Long</div>
          <div class="node-hardware"><ul><li>CPU: 40</li><li>HDD: 44 TB</li><li>RAM: 64 GB</li></ul></div>
          <div class="node-select"><i class="icon-cancel"></i></div>
        </div>
        <!-- End Node -->


        </div>
        <!-- End Roles Block -->

        <hr class="breaker">

        <div class="roles-block-row">
          <div class="span10">&nbsp;</div>
          <div class="span1 pull-right"><div class="btn btn-success btn-save">Apply</div></div>
          <div class="span1 pull-right"><div class="btn btn-discard">Cancel</div></div>
        </div>
    </div>
