<% var task = cluster.task('deploy', 'running') || app.navbar.getDownloadTasks('running', cluster.get('release').id)[0] %>
<% if (task) { %>
  <li class="pull-right deployment-progress-box">
    <div class="deployment-control-item-box"><div class="deploying-progress-text-box percentage">0%</div></div>
    <div class="deployment-control-item-box"><div class="progress progress-success progress-striped progress-deploy active"><div class="bar"></div></div></div>
    <div class="deployment-control-item-box"><div class="deploying-progress-text-box"></div></div>
  </li>
<% } else { %>
  <li class="pull-right deployment-control-box">
    <div class="deployment-control-item-box"><button class="deploy-btn <%= cluster.hasChanges() || cluster.needsRedeployment() ? '' : 'disabled' %>"><i class="icon-upload-cloud"></i> Deploy Changes</button></div>
    <div class="deployment-control-item-box">
      <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
      <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
      <% if (nodesToAdd.length || nodesToDelete.length) { %>
        <button class="btn rollback" role="button" title="Discard Changes"><i class="icon-back-in-time"></i></button>
      <% } %>
    </div>
  </li>
<% } %>
