<% var task = cluster.task('deploy', 'running') %>
<% if (task) { %>
  <div class="progress progress-warning progress-striped progress-deploy active" rel="tooltip">
    <div class="bar"></div>
  </div>
<% } else { %>
  <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
  <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
  <% if (nodesToAdd.length || nodesToDelete.length) { %>
    <button class="btn rollback" role="button" title="Discard Changes"><i class="icon-ccw"></i></button>
  <% } %>
  <button class="deploy-btn"><i class="icon-upload-cloud"></i> Deploy Changes</button>
<% } %>
