<div class="wrapper">
  <h3 class="span12">Configure <%- node.get('name') %> node disk<%= node.get('meta').disks.length == 1 ? '' : 's' %></h3>

  <div class="row node-disks"></div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">
      <div class="back-button pull-left">
        <button class="btn btn-back-to-cluster">Back To Node List</button>
      </div>
      <div class="page-control-button-placeholder">
        <button class="btn btn-defaults">Load Defaults</button>
        <button class="btn btn-revert-changes" disabled>Cancel Changes</button>
        <button class="btn btn-success btn-apply" disabled>Apply</button>
      </div>
    </div>
  </div>
