<div class="roles-block-row nodesbox-header">
  <div class="span10">
    <h3>
      <%= {add: 'Add', delete: 'Delete'}[action] || action %> <%= role %> nodes
      <span>
        <% if (limit !== null) { %>
          (<%= limit %> node<%= limit != 1 ? 's' : '' %> max)
        <% } %>
      </span>
    </h3>
  </div>
  <div class="span2">
    <% if (this.nodes.deferred && this.nodes.deferred.state() != 'pending' && (limit === null || nodes.length <= limit)) { %>
      <label class="checkbox pull-right">
        <input type="checkbox" class="select-all-tumbler"> Select All
      </label>
    <% } %>
  </div>
</div>

<div class="available-nodes roles-block-row">
  <div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>
</div>

<hr class="breaker">

<div class="roles-block-row">
  <div class="span10">&nbsp;</div>
  <div class="span1 pull-right"><div class="btn btn-apply <%= {add: 'btn-success', delete: 'btn-danger'}[action] || '' %>" disabled>Apply</div></div>
  <div class="span1 pull-right"><div class="btn btn-discard">Cancel</div></div>
</div>
