<div class="wrapper">
  <h3 class="span12">Configure <%- node.get('name') %> node interfaces</h3>

  <div class="row node-networks"></div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">
      <div class="page-control-button-placeholder">
        <button class="btn btn-defaults">Load Defaults</button>
        <button class="btn btn-revert-changes">Cancel</button>
        <button class="btn btn-success btn-apply">Apply</button>
      </div>
    </div>
  </div>
</div>
