<div class="row-fluid">
  <table class="table table-bordered healthcheck-table">
    <thead>
      <tr>
        <th colspan="3"><%- testset.get('name') %></th>
      </tr>
    </thead>
    <tbody>
      <% tests.each(function(test) { %>
        <tr>
          <td class="healthcheck-col-select">
            <div class="custom-tumbler">
              <label>
                <input type="checkbox" value="Test" name="healthcheck_test">
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </label>
            </div>
          </td>
          <td class="healthcheck-col-test">
            <div class="healthcheck-name"><%- test.get('name') %></div>
            <!--<div class="healthcheck-msg healthcheck-status-failure">Error Message: Test failed!</div>-->
          </td>
          <td class="healthcheck-col-status">
            <div class="healthcheck-status healthcheck-status-success">Success</div>
            <!--<div class="progress progress-success progress-striped healthcheck-progress"><div class="bar" style="width:100%"></div></div>-->
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
