<% tests.each(function(test) { %>
  <% var result = testrun && _.find(testrun.get('tests'), {id: test.id}) %>
  <% var status = result && result.status || 'unknown' %>
  <tr>
    <td>
      <div class="healthcheck-name"><%- test.get('name') %></div>
      <% if (status == 'failure' || status == 'error') { %>
        <div class="healthcheck-msg healthcheck-status-failure">
          <% if (result && result.message) { %>
            <b><%- result.message %></b><br><br>
          <% } %>
          <% if (result && _.isNumber(result.step)) { %>
            <%= linebreaks(highlightStep(test.escape('description'), result.step)) %>
          <% } else { %>
            <%= linebreaks(test.escape('description')) %>
          <% } %>
        </div>
      <% } %>
    </td>
    <td class="healthcheck-col-duration">
      <div class="healthcheck-duration"><%- test.get('duration') || '' %></div>
    </td>
    <td class="healthcheck-col-duration">
      <% if (status != 'running' && result && _.isNumber(result.taken)) { %>
        <div class="healthcheck-duration"><%= result.taken.toFixed(1) %> s.</div>
      <% } else { %>
        <div class="healthcheck-status healthcheck-status-unknown">&mdash;</div>
      <% } %>
    </td>
    <td class="healthcheck-col-status">
      <div class="healthcheck-status healthcheck-status-<%- status %>">
        <% if (status == 'success') { %>
          <i class="icon-passed"></i>
        <% } else if (status == 'failure' || status == 'error') { %>
          <i class="icon-failed"></i>
        <% } else if (status == 'running') { %>
          <i class="icon-process animate-spin"></i>
        <% } else if (status == 'wait_running') { %>
          <i class="icon-clock"></i>
        <% } else if (status == 'disabled' || status == 'stopped' || status == 'unknown') { %>
          &mdash;
        <% } else { %>
          <%- status %>
        <% } %>
      </div>
    </td>
  </tr>
<% }) %>