<div class="row-fluid">
  <table class="table table-bordered healthcheck-table enable-selection">
    <thead>
      <tr>
        <th colspan="2">
          <label class="parameter-box clearfix">
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="checkbox" name="<%- testset.id %>" />
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="parameter-name" style="cursor: pointer"><%- testset.get('name') %></div>
          </label>
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
