<div class="wrapper">
  <div class="row-fluid page-sub-title">
    <h3 class="span8">OpenStack Health Check</h3>
    <div class="span2">
      <label class="checkbox pull-right select-all">
        <input type="checkbox" class="select-all-tumbler">Select All
      </label>
    </div>
    <div class="span2">
      <button class="btn btn-success pull-right action-btn" disabled>Run Tests</button>
    </div>
  </div>

  <div class="testsets">
    <div class="row row-fluid">
      <div class="span4"></div>
      <div class="span4">
        <div class="progress progress-striped progress-success active">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</div>