<% tests.each(function(test) { %>
  <% var result = testrun && _.find(testrun.get('tests'), {id: test.id}) %>
  <% var status = result && result.status || 'unknown' %>
  <tr>
    <td>
      <div class="healthcheck-name"><%- test.get('name') %></div>
      <% if (status == 'failure' || status == 'error') { %>
        <div class="healthcheck-msg healthcheck-status-failure"><%- result.message %></div>
      <% } %>
    </td>
    <td class="healthcheck-col-status">
      <div class="healthcheck-status healthcheck-status-<%- status %>">
        <% if (status == 'success') { %>
          <i class="icon-passed"></i>
        <% } else if (status == 'failure' || status == 'error') { %>
          <i class="icon-failed"></i>
        <% } else if (status == 'running') { %>
          <i class="icon-process animate-spin"></i>
        <% } else if (status == 'wait_running') { %>
          <i class="icon-clock"></i>
        <% } else if (status == 'unknown') { %>
          &mdash;
        <% } else { %>
          <%- status %>
        <% } %>
      </div>
    </td>
  </tr>
<% }) %>