<div class="row-fluid">
  <table class="table table-bordered healthcheck-table enable-selection">
    <thead>
      <tr>
        <th colspan="2">
          <label class="parameter-box clearfix">
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="checkbox" name="<%- testset.id %>" />
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="parameter-name" style="cursor: pointer"><%- testset.get('name') %></div>
          </label>
        </th>
      </tr>
    </thead>
    <tbody>
      <% tests.each(function(test) { %>
        <% var result = testrun && _.find(testrun.get('tests'), {id: test.id}) %>
        <% var status = result && result.status || 'unknown' %>
        <tr>
          <td>
            <div class="healthcheck-name"><%- test.get('name') %></div>
            <% if (status == 'failure' || status == 'error') { %>
              <div class="healthcheck-msg healthcheck-status-failure"><%- result.message %></div>
            <% } %>
          </td>
          <td class="healthcheck-col-status">
            <div class="healthcheck-status healthcheck-status-<%- status %>"><%- status %></div>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
