<div class="wrapper">
  <h3 class="span12">Logs</h3>

  <div class="row">
    <div class="filter-bar">
      <div class="filter-bar-item log-type-filter">
        <div class="filter-bar-label">Logs</div>
        <select name="type" class="filter-bar-dropdown input-medium">
          <% _.each(types, function(type) { %>
            <option value="<%= type[0] %>" <%= chosenType == type[0] ? 'selected' : '' %>><%- type[1] %></option>
          <% }) %>
        </select>
      </div>

      <div class="filter-bar-item log-node-filter" style="display:none">
        <div class="filter-bar-label">Node</div>
        <select name="node" class="filter-bar-dropdown input-large">
          <% cluster.get('nodes').each(function(node) { %>
            <option value="<%= node.id %>" <%= node.id == chosenNodeId ? 'selected' : '' %>><%- node.get('name') || node.get('mac') %></option>
          <% }) %>
        </select>
      </div>

      <div class="filter-bar-item log-source-filter">
        <div class="filter-bar-label">Source</div>
        <select name="source" class="filter-bar-dropdown input-medium" disabled></select>
      </div>

      <div class="filter-bar-item log-level-filter">
        <div class="filter-bar-label">Min. level</div>
        <select name="level" class="filter-bar-dropdown input-small" disabled></select>
      </div>

      <div class="filter-bar-item">
        <button class="filter-bar-btn show-logs-btn btn disabled">Show</button>
      </div>
    </div>
  </div>

  <div class="logs-fetch-error alert alert-error hide">
    Unable to fetch logs.
  </div>

  <div class="node-sources-error alert alert-error hide">
    Unable to fetch log sources.
  </div>

  <div class="logs-loading row row-fluid hide">
    <div class="span4"></div>
    <div class="span4">
      <div class="progress progress-striped progress-success active">
        <div class="bar" style="width: 100%"></div>
      </div>
    </div>
  </div>

  <table class="table table-bordered table-condensed table-logs hide">
    <thead>
      <tr>
        <th nowrap>Date</th>
        <th nowrap>Level</th>
        <th>Message</th>
      </tr>
    </thead>
    <tbody class="log-entries"></tbody>
    <tbody class="no-logs-msg">
      <tr>
        <td colspan="3">No log entries match current filters.</td>
      </tr>
    </tbody>
  </table>

</div>
