<div class="wrapper">
	<h3 class="span12">Logs</h3>
	
	<!-- Filters -->
	<div class="row">

		<!-- Filter Bar -->
		<div class="filter-bar">

			<div class="filter-bar-item">
				<div class="filter-bar-label">Log Level:</div>
				<button class="filter-bar-dropdown dropdown-toggle" data-toggle="dropdown">Warning<i class="icon-down-dir-1"></i></button>
				<ul class="dropdown-menu">
    				<li><a href="#">All</a></li>
    				<li><a href="#">Info</a></li>
    				<li><a href="#">Warning</a></li>
    				<li><a href="#">Error</a></li>
  				</ul>
			</div>

			<div class="filter-bar-item">
				<div class="filter-bar-label">Period:</div>
				<button class="filter-bar-dropdown dropdown-toggle" data-toggle="dropdown">Period:<i class="icon-down-dir-1"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#">All</a></li>
    				<li><a href="#">Day</a></li>
    				<li><a href="#">Week</a></li>
    				<li><a href="#">Month</a></li>
    				<li><a href="#">Year</a></li>
  				</ul>
			</div>

			<div class="filter-bar-item">
				<div class="filter-bar-label">Type:</div>
				<button class="filter-bar-dropdown dropdown-toggle" data-toggle="dropdown">Syslog<i class="icon-down-dir-1"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#">All</a></li>
    				<li><a href="#">Syslog</a></li>
    				<li><a href="#">Puppet</a></li>
    				<li><a href="#">Other</a></li>
  				</ul>
			</div>

			<div class="filter-bar-item">
				<div class="filter-bar-label">Backlit:</div>
				<button class="filter-bar-dropdown dropdown-toggle" data-toggle="dropdown">Mono<i class="icon-down-dir-1"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#">Mono</a></li>
    				<li><a href="#">Colored</a></li>
  				</ul>
			</div>

			<div class="filter-bar-item">
				<div class="filter-bar-label">Items per page:</div>
				<button class="filter-bar-dropdown dropdown-toggle" data-toggle="dropdown">20<i class="icon-down-dir-1"></i></button>
				<ul class="dropdown-menu">
					<li><a href="#">50</a></li>
    				<li><a href="#">150</a></li>
  				</ul>
			</div>

		</div>

		

	</div>


	<!-- Tables -->
	<table class="table table-bordered table-condensed table-logs">
		<thead>
			<tr>
				<th nowrap>Date / Time</th>
				<th nowrap>Level</th>
				<th>Description</th>
				<th nowrap>Type</th>
				<th nowrap>Node Name</th>				
			</tr>
		</thead>
		<tbody>
			<tr>
				<td nowrap>11.19.2012 18:15</td>
				<td nowrap>Info</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sapien et lectus scelerisque consequat. Integer suscipit augue eu mi mattis consectetur. Nam at orci ipsum, non sollicitudin arcu.</td>
				<td nowrap>Syslog</td>
				<td nowrap>Node 001</td>
			</tr>
			<tr>
				<td nowrap>11.19.2012 18:15</td>
				<td nowrap>Warning</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sapien et lectus scelerisque consequat. Integer suscipit augue eu mi mattis consectetur. Nam at orci ipsum, non sollicitudin arcu.</td>
				<td nowrap>Puppet</td>
				<td nowrap>Node 002</td>				
			</tr>
			<tr class="error">
				<td nowrap>11.19.2012 18:15</td>
				<td nowrap>Error</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sapien et lectus scelerisque consequat. Integer suscipit augue eu mi mattis consectetur. Nam at orci ipsum, non sollicitudin arcu.</td>
				<td nowrap>Syslog</td>
				<td nowrap>Node 003</td>
			</tr>
			<tr class="info">
				<td nowrap>11.19.2012 18:15</td>
				<td nowrap>Info</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sapien et lectus scelerisque consequat. Integer suscipit augue eu mi mattis consectetur. Nam at orci ipsum, non sollicitudin arcu.</td>
				<td nowrap>Syslog</td>
				<td nowrap>Node 001</td>
			</tr>
			<tr class="warning">
				<td nowrap>11.19.2012 18:15</td>
				<td nowrap>Warning</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sapien et lectus scelerisque consequat. Integer suscipit augue eu mi mattis consectetur. Nam at orci ipsum, non sollicitudin arcu.</td>
				<td nowrap>Puppet</td>
				<td nowrap>Node 002</td>				
			</tr>
			<tr class="error">
				<td nowrap>11.19.2012 18:15</td>
				<td nowrap>Error</td>
				<td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eget sapien et lectus scelerisque consequat. Integer suscipit augue eu mi mattis consectetur. Nam at orci ipsum, non sollicitudin arcu.</td>
				<td nowrap>Syslog</td>
				<td nowrap>Node 003</td>
			</tr>
		</tbody>
	</table>

	<hr>
	
	<div class="pagination pagination-centered">
  		<ul>
    		<li><a href="#">Prev</a></li>
    		<li><a href="#">1</a></li>
    		<li><a href="#">2</a></li>
    		<li><a href="#">3</a></li>
    		<li><a href="#">4</a></li>
    		<li><a href="#">...</a></li>
    		<li><a href="#">Next</a></li>
  		</ul>
	</div>

</div>