<div class="navbar summary">
  <div class="navbar-inner">
    <div class="summary-article" href="#"><b>Settings</b></div>
    <ul class="nav">
      <li class="btn btn-link summary-settings-btn change-network-settings-btn" rel="tooltip" data-title="Change network configuration">
        <b>Network Mode:</b> FlatDHCP
      </li>
    </ul>
    <div class="pull-right verify-network"></div>
  </div>
</div>
	<div style="margin: 10px 20px 20px 20px;">

	<h3>Network Setup</h3>

	<ul class="nav nav-pills">
  		<li class="active"><a href="#">Network Setup</a></li>
  		<li><a href="#">Network View</a></li>
	</ul>


	<form>
  		<fieldset>

    		<legend>Network Manager</legend>
    		<select>
  				<option>FlatDHCP Manager</option>
  				<option>VLAN Manager</option>
			</select>

    <div class="space30"></div>

		<legend>Network Settings</legend>

    <form class="form-inline">

      <div class="row network-settings-table">
          <div class="network"><b>Network</b></div>
          <div class="cidr"><b>CIDR</b></div>
          <div class="vlan"><b>VLAN</b></div>
      </div>

      <div class="row">
        <div class="control-group error">
          <div class="controls">
            <div class="network-setting-span-label">Floating</div>
            <div class="network-setting-span-cidr"><input class="input-large" type="text" id="inputError"></div>
            <div class="network-setting-span-vlan"><input type="text" id="inputError" class="input-mini"></div>
            <div class="network-setting-span-test help-inline"><i class="icon-attention-3"></i>Please correct the error bla bla bla bla</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="control-group">
          <div class="controls">
            <div class="network-setting-span-label">Fixed</div>
            <div class="network-setting-span-cidr"><input class="input-large" type="text" id="inputError"></div>
            <div class="network-setting-span-vlan"><input type="text" id="inputError" class="input-mini"></div>
            <div class="network-setting-span-test help-inline">Just Text View</div>
          </div>
        </div>
      </div>

       <div class="row">
        <div class="control-group">
          <div class="controls">
            <div class="network-setting-span-label">Management</div>
            <div class="network-setting-span-cidr"><input class="input-large" type="text" id="inputError"></div>
            <div class="network-setting-span-vlan"><input type="text" id="inputError" class="input-mini"></div>
            <div class="network-setting-span-test help-inline">Just Text View</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="control-group">
          <div class="controls">
            <div class="network-setting-span-label">Storage</div>
            <div class="network-setting-span-cidr"><input class="input-large" type="text" id="inputError"></div>
            <div class="network-setting-span-vlan"><input type="text" id="inputError" class="input-mini"></div>
            <div class="network-setting-span-test help-inline">Just Text View</div>
          </div>
        </div>
      </div>

    </form>

		<hr>

		</fieldset>

		<div class="row network-settings-table">
  				<div class="span8">&nbsp;</div>
  				<div class="span1 pull-right"><div disabled="" class="btn btn-apply btn-success">Save</div></div>
  				<div class="span2 pull-right"><div class="btn btn-discard">Verify Settings</div></div>
		</div>


</form>

</div>
