<div class="wrapper">
  <h3>Network Setup</h3>
  <ul class="nav nav-pills">
    <li class="active network-setup">
      <a href="#">Network Setup</a>
    </li>
    <li class="network-view">
      <a href="#">Network View</a>
    </li>
  </ul>
  <div class="network-tab-content">
    <fieldset>
      <legend>Network Manager</legend>
      <select id="networkManager" disabled>
        <option value="flatdhcp" selected>FlatDHCPManager</option>
        <option value="vlan">VLANManager</option>
      </select>
      <legend>Network Settings</legend>
      <% if (networks.deferred.state() != 'pending') { %>
        <form class="form-inline networks-table" onsubmit="return false">
          <div class="row networks-header">
            <div class="network">Network</div>
            <div class="cidr">CIDR</div>
            <div class="vlan">VLAN</div>
          </div>
          <% networks.each(function(network) { %>
            <div class="row">
              <div class="control-group" data-network-name="<%- network.get('name') %>">
                <div class="network-name"><%- network.get('name') %></div>
                <div class="network-cidr">
                  <input class="input-large" type="text" value="<%- network.get('cidr') %>" maxlength="18" <%= cluster.task('deploy', 'running') ? 'disabled ' : '' %>/>
                </div>
                <div class="network-vlan">
                  <input class="input-mini" type="text" value="<%- network.get('vlan_id') %>" maxlength="4" <%= cluster.task('deploy', 'running') ? 'disabled ' : '' %>/>
                </div>
                <div class="network-error">
                  <span class="help-inline"></span>
                </div>
              </div>
            </div>
          <% }) %>
        </form>
      <% } else { %>
        <div class="row row-fluid">
          <div class="span4"></div>
          <div class="span4">
            <div class="progress progress-striped progress-success active">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
        </div>
      <% } %>
    </fieldset>
  </div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">

      <div class="page-control-error-placeholder">
        network verification failed for following nodes:</br>
        — node-name: absent vlans 101,102
      </div>
      
      <div class="page-control-button-placeholder">
         <button class="btn btn-success apply-btn">Save Settings</button>
      </div>

      <div class="page-control-button-placeholder">
        <button class="btn apply-btn">Verify Setting</button>
      </div>

    </div>
  </div>

  <!-- page-control box -->
  <div class="row">
    <div class="page-control-box">

      <div class="page-control-error-placeholder">
        Introduction
This section contains the script of Act I of Hamlet the play by William Shakespeare. The enduring works of William Shakespeare feature many famous and well loved characters. Make a note of any unusual words that you encounter whilst reading the script of Hamlet and check their definition in the Shakespeare Dictionary The script of Hamlet is extremely long. To reduce the time to load the script of the play, and for ease in accessing specific sections of the script, we have separated the text of Hamlet into Acts. Please click Hamlet Script to access further Acts.

Script / Text of Act I Hamlet

ACT I
SCENE I. Elsinore. A platform before the castle.

FRANCISCO at his post. Enter to him BERNARDO 
BERNARDO 
Who's there?

FRANCISCO 
Nay, answer me: stand, and unfold yourself.

BERNARDO 
Long live the king!

FRANCISCO 
Bernardo?

BERNARDO 
He.

FRANCISCO 
You come most carefully upon your hour.

BERNARDO 
'Tis now struck twelve; get thee to bed, Francisco.

FRANCISCO 
For this relief much thanks: 'tis bitter cold,
And I am sick at heart.

BERNARDO 
Have you had quiet guard?

FRANCISCO 
Not a mouse stirring.

BERNARDO 
Well, good night.
If you do meet Horatio and Marcellus,
The rivals of my watch, bid them make haste.

FRANCISCO 
I think I hear them. Stand, ho! Who's there?

Enter HORATIO and MARCELLUS

HORATIO 
Friends to this ground.

MARCELLUS 
And liegemen to the Dane.

FRANCISCO 
Give you good night.

MARCELLUS 
O, farewell, honest soldier:
Who hath relieved you?

FRANCISCO 
Bernardo has my place.
Give you good night.

Exit

MARCELLUS 
Holla! Bernardo!

BERNARDO 
Say,
What, is Horatio there?

HORATIO 
A piece of him.

BERNARDO 
Welcome, Horatio: welcome, good Marcellus.

MARCELLUS 
What, has this thing appear'd again to-night?

BERNARDO 
I have seen nothing.

MARCELLUS 
Horatio says 'tis but our fantasy,
And will not let belief take hold of him
Touching this dreaded sight, twice seen of us:
Therefore I have entreated him along
With us to watch the minutes of this night;
That if again this apparition come,
He may approve our eyes and speak to it.

      </div>
      
      <div class="page-control-button-placeholder">
         <button class="btn btn-success apply-btn">Save Settings</button>
      </div>

      <div class="page-control-button-placeholder">
        <div class="progress progress-success">
          <div class="bar" style="width: 40%"></div>
        </div>
      </div>

    </div>
  </div>

  

  

</div>
