<!-- ################################################################################# -->
<!-- #                                 NEW NODE DESIGN                               # -->
<!-- ################################################################################# -->

<style>
body {background-color: #ffffff;}

.node {
	display: block;
	width: auto;
	height: 56px;
	background-color: #ffffff;
	padding: 2px;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	margin-bottom: 6px;
  	overflow: hidden;
}

.checked {
	background-color: #dedede;
}

.node-box {
	display: block;
	width: 100%;
	height: 52px;
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px solid #a0a0a0;
}
.node-box:hover {
	/* border-color: #999999; */
	box-shadow: 0 0 6px rgba(0,0,0,.2);
}
.node-content {
	display: block;
	width: 100%;
	height: 50px;
	background: #e5e6e8; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWVlZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZmUyZTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #edeeef 0%, #dfe2e4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edeeef), color-stop(100%,#dfe2e4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #edeeef 0%,#dfe2e4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #edeeef 0%,#dfe2e4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #edeeef 0%,#dfe2e4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #edeeef 0%,#dfe2e4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edeeef', endColorstr='#dfe2e4',GradientType=0 ); /* IE6-8 */
	box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	-webkit-box-sizing: border-box;
  	border: 1px solid #f8f9f9;
}
.node-content:hover {
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTZlOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMWQ1ZDgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #e5e6e8 0%, #d1d5d8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e6e8), color-stop(100%,#d1d5d8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e5e6e8 0%,#d1d5d8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e5e6e8 0%,#d1d5d8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e5e6e8 0%,#d1d5d8 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e5e6e8 0%,#d1d5d8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e6e8', endColorstr='#d1d5d8',GradientType=0 ); /* IE6-8 */
}

.node-new {
	border-color: #61a466;
}

.node-delete {
	border-color: #a46161;
}

.node-checkbox {width: 48px; float: left; padding: 6px;}
.node-logo 	   {width: 64px; float: left;}
.node-name 	   {width: auto; float: left;}
.node-status   {width: 140px; float: left;}
.node-hardware {width: 230px; float: left;}
.node-settings {width: 48px; float: left;}

.node-name > .name {font-size: 16px; font-family: 'Segoe UI'; border-bottom: 1px dotted #afafaf; cursor: pointer; color: #555555;}
.node-name > .name:hover {border-bottom: 1px dotted #888888; cursor: pointer; color: #333333;}

</style>

<div class="node">
	<div class="node-box">

		<div class="node-content">
			
			<div class="node-checkbox">1</div>
			<div class="node-logo">2</div>
			<div class="node-name">
				<div class="name">It's a long long long long node name</div>
				<div class="roles">
					<ul>
						<li>Compute</li>
						<li>Comtroller</li>
						<li>Cinder</li>
					</ul>
				</div>
			</div>
			<div class="node-status">Pending Addition</div>
			<div class="node-hardware">
				<ul>
						<li>CPU: 999</li>
						<li>HDD: 999 TB</li>
						<li>RAM: 999 GB</li>
					</ul>
			</div>
			<div class="node-settings">6</div>

		</div>

	</div>
</div>

<!-- ####### -->

<div class="node checked">
	<div class="node-box">
		<div class="node-content">
			<div class="node-checkbox">1</div>
			<div class="node-logo">2</div>
			<div class="node-name">
				<div class="name">It's a long long long long node name</div>
			</div>
			<div class="node-status">4</div>
			<div class="node-hardware">5</div>
			<div class="node-settings">6</div>
		</div>
	</div>
</div>

<!-- ####### -->

<div class="node">
	<div class="node-box node-new">
		<div class="node-content">
			<div class="node-checkbox">1</div>
			<div class="node-logo">2</div>
			<div class="node-name">
				<div class="name">It's a long long long long node name</div>
			</div>
			<div class="node-status">4</div>
			<div class="node-hardware">5</div>
			<div class="node-settings">6</div>
		</div>
	</div>
</div>

<!-- ####### -->

<div class="node">
	<div class="node-box node-delete">
		<div class="node-content">
			<div class="node-checkbox">1</div>
			<div class="node-logo">2</div>
			<div class="node-name">
				<div class="name">It's a long long long long node name</div>
			</div>
			<div class="node-status">4</div>
			<div class="node-hardware">5</div>
			<div class="node-settings">6</div>
		</div>
	</div>
</div>

<!-- ####### -->