<div class="span2 nodebox
    <%= selectableForAddition ? 'unassigned node-to-add-unchecked' : selectableForDeletion ? 'unassigned node-to-delete-unchecked' : 'assigned' %>
    <%- node.get('manufacturer') ? 'manufacturer-' + node.get('manufacturer').toLowerCase() : '' %>
  " data-node-id="<%= node.id %>">
  <div class="node-name">
    <% if (renaming) { %>
      <form class="node-name-editable form-inline" onsubmit="return false">
        <input type="text" class="input-medium" value="<%- node.get('name') || '' %>">
      </form>
    <% } else { %>
      <div class="<%= renameable ? 'node-renameable' : '' %>"><%- node.get('name') || node.get('mac') %></div>
    <% } %>
  </div>
  <div class="node-status">
    <% if (!selectableForAddition) { %>
        <% var status = node.get('status') %>
        <% if (node.get('pending_addition')) { %>
          <div class="msg-warning">
            <i class="icon-ok-circle2"></i>Pending Addition
          </div>
        <% } else if (node.get('pending_deletion')) { %>
          <div class="msg-warning">
            <i class="icon-cancel-circle2"></i>Pending Deletion
          </div>
        <% } else if (status == 'ready') { %>
          <div class="msg-ok">
            <i class="icon-ok"></i>Ready
          </div>
        <% } else if (status == 'provisioning') { %>
          <div class="progress progress-striped active">
            <div class="bar"><p>Installing OS</p></div>
          </div>
        <% } else if (status == 'provisioned') { %>
          <div class="msg-provisioned">
            <i class="icon-ok"></i>OS is installed
          </div>
        <% } else if (status == 'deploying') { %>
          <div class="progress progress-success progress-striped active">
            <div class="bar"><p>Installing OpenStack</p></div>
          </div>
        <% } else if (status == 'error') { %>
          <div class="msg-error">
            <i class="icon-attention-3"></i>Error
          </div>
        <% } else if (status == 'offline') { %>
          <i class="icon-block-1"></i>Not available
        <% } else { %>
          <%= status %>
        <% } %>
    <% } %>
  </div>
  <div class="node-hardware">
    <ul>
      <li>CPU: <%= _.isNumber(node.resource('cores')) ? node.resource('cores') : '?' %></li>
      <li>HDD: <%= _.isNumber(node.resource('hdd')) ? node.resource('hdd').toFixed(1) : '?' %> TB</li>
      <li>RAM: <%= _.isNumber(node.resource('ram')) ? node.resource('ram').toFixed(1) : '?' %> GB</li>
    </ul>
  </div>

  <% if (!selectableForAddition && !selectableForDeletion) { %>
    <% if (node.get('pending_addition')) { %>
      <div class="pending-addition-flag"></div>
    <% } else if (node.get('pending_deletion')) { %>
      <div class="pending-deletion-flag"></div>
    <% } %>
  <% } %>

  <% if (selectableForAddition) { %>
    <div class="node-select"><i class="icon-ok"></i></div>
  <% } else if (selectableForDeletion) { %>
    <div class="node-select"><i class="icon-cancel"></i></div>
  <% } %>
</div>
