<!-- disk block short start -->
<div class="disk-box disk" data-disk="<%- disk.name %>">

  <div class="disk-box-name pull-left"><%- disk.name %></div>
  <% var diskSize = disk.size ? disk.size / Math.pow(1000, 3) : 0 %>
  <div class="disk-box-size pull-right">Total Space: <%= diskSize ? diskSize < 100 ? diskSize.toFixed(1) + 'GB' : (diskSize / 1000).toFixed(1) + 'TB' : '?TB' %></div>

  <div class="disk-tumbler pull-left">
    <label class="parameter-box clearfix">
      <div class="parameter-control">
        <div class="custom-tumbler">
          <input type="radio" name="booting" value="<%- disk.name %>" checked />
          <!--[if !IE |(gte IE 9)]>--><span>&nbsp;</span><!--<![endif]-->
        </div>
      </div>
      <div class="parameter-name">Bootable disk</div>
    </label>
    <div class="alert">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Warning!</strong> Some alert message.
    </div>
  </div>

  <div class="disk-map-short disk-map-full">
    <div class="disk-map-image disk-visual">
      <% var volumeGroupsLabels = {os: 'Base system', vms: 'Virtual Storage', cinder: 'Cinder'} %>
      <% _.each(volumeGroups, function(group) { %>
        <div class="volume-group <%= group %>" data-group="<%= group %>" style="width:0">
          <div class="toggle-volume">
            <div class="volume-group-name"><%= volumeGroupsLabels[group] %></div>
            <div class="volume-group-size">0 GB</div>
          </div>
          <div class="close-btn hide"></div>
        </div>
      <% }) %>
      <div class="volume-group unallocated" style="width: 100%">
        <div class="toggle-volume">
          <div class="volume-group-name">Unallocated</div>
          <div class="volume-group-size"><%= Math.round(diskSize) %> GB</div>
        </div>
      </div>
    </div>
  </div>

  <div class="disk-map-details disk-edit-volume-group-form collapse">
    <div class="disk-info-box">
      <div class="disk-box-title">Disk Information</div>
      <%
        var sortEntryProperties = function(entry) {
          var properties = _.keys(entry);
          if (_.has(entry, 'name')) {
            properties = ['name'].concat(_.without(_.keys(_.omit(entry, 'name')), 'id'));
          }
          return properties;
        };
        var showSize = function(bytes) {
          bytes = parseInt(bytes, 10);
          if (!_.isNumber(bytes) || _.isNaN(bytes)) return 'N/A';
          var units = ['bytes', 'KB', 'MB', 'GB', 'TB'];
          for (var i = 0; i < units.length; i++) {
            var result = bytes / Math.pow(1000, i);
            if (result < 256) {
              return (result ? result.toFixed(1) : result) + ' ' + units[i];
            }
          }
          return result;
        };
      %>
      <% _.each(sortEntryProperties(disk), function(propertyName) { %>
        <div class="disk-map-details-item">
          <div class="disk-map-details-name"><%- propertyName.replace(/_/g, ' ') %></div>
          <div class="disk-map-details-parameter"><%- propertyName == 'size' ? showSize(disk[propertyName]) : disk[propertyName] %></div>
        </div>
      <% }) %>
    </div>

    <div class="disk-utility-box">
      <div class="disk-box-title">Volume Groups</div>
      <% _.each(volumeGroups, function(group) { %>
        <div class="volume-group-box volume-group" data-group="<%= group %>">
          <div class="volume-group-box-flag-<%= group %>"></div>
          <div class="volume-group-box-name"><%= volumeGroupsLabels[group] %></div>
          <div class="volume-group-box-edit use-all-unallocated"><a href="#">Use All Unallocated Space</a></div>
          <% var volume = _.find(volumes, {name: group}) %>
          <div class="volume-group-box-input"><input class="span1" type="text" name="<%= group %>" value="<%= volume.size %>" /></div>
          <div class="volume-group-box-sizetype">GB</div>
        </div>
      <% }) %>
    </div>
    <div class="clearfix"></div>
  </div>

</div>
<!-- disk block short end -->
