<div class="nodebox assigned <%= node.get('manufacturer') ? 'manufacturer-' + node.get('manufacturer').toLowerCase() : '' %>">
  <div class="node-name">
    <% if (editingName) { %>
      <form class="node-name-editing form-inline">
        <input type="text" class="input-medium" value="<%= node.get('name') || '' %>">
      </form>
    <% } else { %>
      <%= node.get('name') || node.get('mac') %>
    <% } %>
  </div>
  <div class="node-status">
    <% var status = node.get('status') %>
    <% if (status == 'ready') { %>
      <div class="msg-ok">
        <i class="icon-ok-circle"></i>Ready
      </div>
    <% } else if (status == 'error') { %>
      <div class="msg-error">
        <i class="icon-exclamation-sign"></i>Error
      </div>
    <% } else if (status == 'deploying') { %>
      <div class="msg-warning">
        <i class="icon-refresh"></i>Deploying
      </div>
    <% } else { %>
      <%= status %>
    <% } %>
  </div>
  <div class="node-hardware">
    <ul>
      <li>CPU: <%= _.isNumber(node.resource('cpu')) ? node.resource('cpu') : '?' %></li>
      <li>HDD: <%= _.isNumber(node.resource('hdd')) ? node.resource('hdd').toFixed(2) : '?' %> TB</li>
      <li>RAM: <%= _.isNumber(node.resource('ram')) ? node.resource('ram').toFixed(1) : '?' %> GB</li>
    </ul>
  </div>
</div>

