<% var volumeGroupsLabels = {os: 'Base System', vm: 'Virtual Storage', cinder: 'Cinder', glance: 'Glance'} %>

<div class="disk-box disk" data-disk="<%- disk.name %>">

  <div class="disk-box-name pull-left"><%- disk.name %></div>
  <div class="disk-box-size pull-right">Total Space: <%= showDiskSize(disk.size) %></div>

  <div class="disk-map-short disk-map-full">
    <div class="disk-map-image disk-visual">
      <% _.each(volumes, function(volume) { %>
        <div class="volume-group <%= volume.name %>" data-group="<%= volume.name %>" style="width:0;">
          <div class="toggle-volume">
            <div class="volume-group-name"><%= volumeGroupsLabels[volume.name] %></div>
            <div class="volume-group-size"><%= showDiskSize(0) %></div>
          </div>
          <div class="close-btn hide"></div>
        </div>
      <% }) %>
      <div class="volume-group unallocated" style="width: 100%">
        <div class="toggle-volume">
          <div class="volume-group-name">Unallocated</div>
          <div class="volume-group-size"><%= showDiskSize(disk.size) %></div>
        </div>
      </div>
    </div>
  </div>

  <div class="disk-map-details disk-form collapse">
    <div class="disk-info-box">
      <div class="disk-box-title">Disk Information</div>
      <% _.each(sortEntryProperties(disk), function(propertyName) { %>
        <div class="disk-map-details-item">
          <div class="disk-map-details-name"><%- propertyName.replace(/_/g, ' ') %></div>
          <div class="disk-map-details-parameter"><%- propertyName == 'size' ? showDiskSize(disk[propertyName]) : disk[propertyName] %></div>
        </div>
      <% }) %>
    </div>

    <div class="disk-utility-box">
      <div class="disk-box-title">Volume Groups</div>
      <% _.each(volumes, function(volume) { %>
        <div class="volume-group-box volume-group" data-group="<%= volume.name %>">
          <div class="volume-group-box-flag-<%= volume.name %>"></div>
          <div class="volume-group-box-name"><%= volumeGroupsLabels[volume.name] %></div>
          <div class="pull-right">
            <div class="volume-group-box-edit"><span class="use-all-unallocated">Use All Unallocated Space</span></div>
            <div class="volume-group-box-input"><input class="input-mini" type="text" name="<%= volume.name %>" value="<%= volume.size %>" /></div>
            <div class="volume-group-box-sizetype">MB</div>
          </div>
        </div>
        <div class="volume-group-error-message"></div>
      <% }) %>
    </div>
    <div class="clearfix"></div>
  </div>

</div>
