<% var status = node.get('status');
   var operatingSystem;
   try {
     operatingSystem = node.collection.cluster.get('release').get('operating_system');
   } catch(e){}
   operatingSystem = operatingSystem || 'OS';
   if (operatingSystem == 'RHEL') {
     operatingSystem = '';
   }
%>
<% if (!node.get('online')) { %>
  <div class="msg-offline">
    <i class="icon-block"></i>Offline
  </div>
<% } else if (node.get('pending_addition')) { %>
  <div class="msg-warning">
    <i class="icon-ok-circle-empty"></i>Pending Addition
  </div>
<% } else if (node.get('pending_deletion')) { %>
  <div class="msg-warning">
    <i class="icon-cancel-circle"></i>Pending Deletion
  </div>
<% } else if (status == 'ready') { %>
  <div class="msg-ok">
    <i class="icon-ok"></i>Ready
  </div>
<% } else if (status == 'provisioning') { %>
  <div class="progress">
    <div class="bar"><p>Installing <%- operatingSystem %></p></div>
  </div>
<% } else if (status == 'provisioned') { %>
  <div class="msg-provisioned">
    <i class="icon-install"></i><%- operatingSystem %> is installed
  </div>
<% } else if (status == 'deploying') { %>
  <div class="progress progress-success">
    <div class="bar"><p>Installing OpenStack</p></div>
  </div>
<% } else if (status == 'error') { %>
  <div class="msg-error">
    <i class="icon-attention"></i>Error
  </div>
<% } else if (status == 'discover') { %>
  <div class="msg-discover">
    <i class="icon-ok-circle-empty"></i>Discovered
  </div>
<% } else { %>
  <div>
    <%= status %>
  </div>
<% } %>
<a href="<%- logsLink %>" class="logs-link"><i class="icon-logs"></i>View logs</a>
