<!-- network block start -->
<div class="physical-network-box">
  <div class="network-box-name"><%- ifc.get('name') %></div>
  <div class="network-box-item">

    <div class="network-info-box online">
      <div>MAC: <%- ifc.get('mac') %></div>
      <div>Speed: <%- showBandwidth(ifc.get('current_speed')) %></div>
    </div>

    <div class="logical-network-box">
      <div class="logical-network-group">
        <% var previousVlan %>
        <% ifc.get('assigned_networks').each(function(network) { %>
          <% var currentVlan = network.vlanStart() %>
          <% if (previousVlan && previousVlan != currentVlan || _.isNull(previousVlan)) { %>
            </div><div class="logical-network-group">
          <% } %>
          <% previousVlan = currentVlan %>
          <div class="logical-network-item" data-name="<%- network.get('name') %>">
            <div class="name"><%- network.get('name') %></div>
            <div class="id">
            <% var vlanStart = network.vlanStart() %>
            <% if (vlanStart) { %>
              <% if (network.amount() == 1) { %>
                VLAN ID: <%- vlanStart %>
              <% } else { %>
                VLAN IDs: <%- vlanStart %>-<%- vlanStart + network.amount() - 1 %>
              <% } %>
            <% } %>
            </div>
          </div>
        <% }) %>
      </div>
      <div class="network-help-message hide">Use drag and drop to move logical networks between physical interfaces</div>
    </div>
  </div>
</div>
<!-- network block end -->
