<!-- network block start -->
<div class="physical-network-box">
  <div class="network-box-name"><%- ifc.get('name') %></div>
  <div class="network-box-item">

    <div class="network-info-box online">
      <div>MAC: <%- ifc.get('mac') %></div>
      <div>Speed: <%- showBandwidth(ifc.get('current_speed')) %></div>
    </div>

    <div class="logical-network-box">
      <% ifc.get('assigned_networks').each(function(network) { %>
        <div class="logical-network-item" data-name="<%- network.get('name') %>">
          <div class="name"><%- network.get('name') %></div>
          <% var netInfo = networks.findWhere({name: network.get('name')}) %>
          <div class="id">VLAN ID: <%- netInfo.get('vlan_start') %></div>
        </div>
      <% }) %>
      <div class="network-help-message hide">Use drag-and-drop for placing logical interfaces here</div>
    </div>
  </div>
</div>
<!-- network block end -->
