<div class="row">

    <!-- network block start -->
    <div class="physical-network-box">
      <div class="network-box-name"><%- ifc.name %></div>
      <div class="network-box-item">
        
        <div class="network-info-box online">
          <div>MAC: <%- ifc.attributes.mac %></div>
          <div>Speed: <%- ifc.attributes.speed %>gb</div>
        </div>

        <div class="logical-network-box connectedSortable">
          <% _.each(ifc.attributes.types, function(option) { %>
              <div class="logical-network-item"><%- option.name %></div>
          <% }) %>
        </div>

      </div>
    </div>
    <!-- network block end -->
    
    </div>
</div>
