<div class="roles-block-row nodesbox-header">
  <div class="span8">
    <h3>
      <%= {'controller': 'Controllers', 'compute': 'Compute', 'storage': 'Storage'}[role] || role %>
      <!--<span>
        <% if (size) { %>
          <% if (hasChanges) { %>
            (<%= currentNodes.length %> node<%= currentNodes.length != 1 ? 's' : '' %> currently, <%= nodesAfterDeployment.length %> node<%= nodesAfterDeployment.length != 1 ? 's' : '' %> after deployment, <%= size %> node<%= size != 1 ? 's' : '' %> max)
          <% } else { %>
            (<%= nodes.length %> of <%= size %> node<%= size != 1 ? 's' : '' %>)
          <% } %>
        <% } else { %>
          <% if (hasChanges) { %>
            (<%= currentNodes.length %> node<%= currentNodes.length != 1 ? 's' : '' %> currently, <%= nodesAfterDeployment.length %> node<%= nodesAfterDeployment.length != 1 ? 's' : '' %> after deployment)
          <% } else { %>
            (<%= nodes.length %> node<%= nodes.length != 1 ? 's' : '' %>)
          <% } %>
        <% } %>
      </span>-->
    </h3>
  </div>
  <div class="span2 roles-action-link">
    <button class="btn btn-add-nodes btn-link pull-right <%= nodes.cluster.task('deploy', 'running') || size && nodesAfterDeployment.length >= size ? 'disabled' : '' %>">
      <i class="icon-plus-circle"></i>Add
    </button>
  </div>
  <div class="span2 roles-action-link">
    <button class="btn btn-delete-nodes btn-link pull-right <%= nodes.cluster.task('deploy', 'running') || !nodesAfterDeployment.length ? 'disabled' : '' %>">
      <i class="icon-cancel-circle"></i>Delete
    </button>
  </div>
</div>
<% if (nodes.length || size) { %>
  <div class="roles-block-row node-list-container"></div>
<% } else { %>
  <div class="roles-block-row">
    <div class="span6">There are no nodes of this type</div>
  </div>
<% } %>
