<form class="settings-editable form-horizontal" onsubmit="return false">
  <div class="settings-header">
    <div class="span5"><h3>Settings</h3></div>
    <div class="span2"><button class="btn btn-apply-changes btn-link pull-right" disabled="true"><i class="icon-ok"></i>Save</button></div>
    <div class="span3"><button class="btn btn-revert-changes btn-link pull-right" disabled="true"><i class="icon-cancel"></i>Cancel current changes</button></div>
    <div class="span2"><button class="btn btn-set-defaults btn-link pull-right"><i class="icon-cw"></i>Set defaults</button></div>
  </div>
  <div class="settings-content">
    <div class="row-fluid">
      <div class="span4"></div>
      <div class="span4">
        <div class="progress progress-striped progress-success active">
          <div class="bar" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
</form>
