<% var page = this %>
<% var deployment = cluster.task('deploy', 'running') %>
  <% if (Object.prototype.toString.call(settings) == '[object Object]') { %>
    <h4><%- legend %></h4>
    <% _.each(_.keys(settings), function(key) { %>
      <% if (Object.prototype.toString.call(settings[key]) == '[object Object]') { %>
        <div class="fieldset-group wrapper" data-nested="true">
          <%= page.template({settings: settings[key], legend: key, cluster: cluster}) %>
        </div>
      <% } else { %>
          <div class="fieldset-group wrapper" data-nested="false">
            <% if (settings[key] == 'true' || settings[key] == 'false') { %>
              <label class="checkbox" for="<%- key %>"><%- key %>
                <input type="checkbox" name="<%- key %>" <%= settings[key] == 'true' ? 'checked' : '' %> <%= deployment ? 'disabled ' : '' %>/>
              </label>
            <% } else if (_.isArray(settings[key])) { %>
              <label for="<%- key %>"><%- key %></label>
              <select name="<%- key %>" <%= deployment ? 'disabled ' : '' %>>
                <% _.each(settings[key], function(setting) { %>
                  <option value="<%- setting.id %>" <%= setting.chosen == 'true' ? 'selected' : '' %>><%- setting.name %></option>
                <% }) %>
              <select>
            <% } else { %>
              <label for="<%- key %>"><%- key %></label>
              <input type="text" name="<%- key %>" value="<%- settings[key] %>" <%= deployment ? 'disabled ' : '' %>/>
            <% } %>
          </div>
      <% } %>
    <% }) %>
  <% } else { %>
    <% if (settings == 'true' || settings == 'false') { %>
      <label class="checkbox" for="<%- legend %>"><%- legend %>
        <input type="checkbox" name="<%- legend %>" <%= settings == 'true' ? 'checked' : '' %> <%= deployment ? 'disabled ' : '' %>/>
      </label>
    <% } else if (_.isArray(settings)) { %>
      <label for="<%- legend %>"><%- legend %></label>
      <select name="<%- legend %>" <%= deployment ? 'disabled ' : '' %>>
        <% _.each(settings, function(setting) { %>
          <option value="<%- setting.id %>" <%= setting.chosen == 'true' ? 'selected' : '' %>><%- setting.name %></option>
        <% }) %>
      <select>
    <% } else { %>
      <label for="<%- legend %>"><%- legend %></label>
      <input type="text" name="<%- legend %>" value="<%- settings %>" <%= deployment ? 'disabled ' : '' %>/>
    <% } %>
  <% } %>
