<% var disabled = cluster.task('deploy', 'running') ? 'disabled' : '' %>
<% if (!_.isArray(settings) && _.isObject(settings)) { %>
  <legend class="openstack-settings"><%- legend %></legend>
  <% _.each(_.keys(settings), function(setting) { %>
    <% if (_.isBoolean(settings[setting]['value'])) { %>
      <div class="parameter-box clearfix">
        <div class="parameter-control">
          <div class="custom-tumbler">
            <input type="checkbox" name="checkbox" <%= settings[setting]['value'] ? 'checked' : '' %> />
            <!--[if !IE |(gte IE 9)]>--><span>&nbsp;</span><!--<![endif]-->
          </div>
        </div>
        <div class="parameter-name"><%- settings[setting]['label'] %></div>
        <div class="parameter-description"><%- settings[setting]['description'] %></div>
      </div>
    <% } else if (settings[setting]['values']) { %>
      <% _.each(settings[setting]['values'], function(option) { %>
        <div class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="<%- option['data'] %>" <%= option['data'] == settings[setting]['value'] ? 'checked' : '' %> />
              <!--[if !IE |(gte IE 9)]>--><span>&nbsp;</span><!--<![endif]-->
            </div>
          </div>
          <div class="parameter-name"><%- option['display_name'] %></div>
          <div class="parameter-description"><%- option['description'] %></div>
        </div>
      <% }) %>
    <% } else { %>
      <div class="parameter-box clearfix">
        <div class="parameter-name"><%- settings[setting]['label'] %></div>
        <div class="parameter-control">
          <div class="parameter-control">
            <input type="text" value="<%- settings[setting]['value'] %>">
          </div>
        </div>
        <div class="parameter-description"><%- settings[setting]['description'] %></div>
      </div>
    <% } %>
  <% }) %>
<% } %>
