<% if (networks.deferred.state() != 'pending') { %>
  <% var task = cluster.task('verify_networks', 'error') %>
  <% if (task.get('result').length) { %>
    <table class="table table-condensed enable-selection">
      <thead><tr><th>Node Name</th><th>Node MAC address</th><th>Node Interface</th><th>Expected, but not received Vlan ID</th></tr></thead>
      <tbody>
        <% _.each(task.get('result'), function(node) { %>
          <tr><td><%- node.name ? node.name : 'N/A' %></td><td><%- node.mac ? node.mac : 'N/A' %></td><td><%-node.interface %></td><td><%-node.absent_vlans %></td></tr>
        <% }) %>
      </tbody>
    </table>
  <% } %>
<% } else { %>
  &nbsp;
<% } %>
