<% if (networks.deferred.state() != 'pending') { %>
  <div class="page-control-box">
    <div class="verification-box">

      <% var task = cluster.task('verify_networks') %>
      <% if (!task) task = cluster.task('check_networks') %>
      <% var connectStatus, connectStatusLast %>
      <% if (!task || (task && task.get('status') == 'ready')) { %>
        <% connectStatus = 'stop'; connectStatusLast = 'stop'; %>
      <% } else if (task && task.get('status') == 'running') { %>
        <% connectStatus = 'success'; connectStatusLast = 'success'; %>
      <% } else if (task && task.get('status') == 'error') { %>
        <% if (task.get('name') == 'verify_networks' && !task.get('result').length) connectStatus = 'error'; else connectStatus = 'success'; %>
        <% connectStatusLast = 'error' %>
      <% } %>
      <div class="verification-network-placeholder">
        <div class="router-box">
          <div class="verification-router"></div>
        </div>
        <div class="animation-box">
          <div class="connect-1-<%= connectStatus %>"></div>
          <div class="connect-2-<%= connectStatusLast %>"></div>
          <div class="connect-3-<%= connectStatusLast %>"></div>
        </div>
        <div class="nodex-box">
          <div class="verification-node-1"></div>
          <div class="verification-node-2"></div>
          <div class="verification-node-3"></div>
        </div>
      </div>

      <div class="verification-text-placeholder">
          <li><strong>Network Verification is done in 3 steps:</strong></li>
          <li>1. Every node starts listening for test frames</li>
          <li>2. From every node 802.1Q tagged UDP frames are sent out</li>
          <li>3. Nodes listeners register test frames from other nodes</li>
      </div>

      <% if (cluster.task('verify_networks', 'ready')) { %>
        <div class="page-control-success-placeholder enable-selection">Verification Succeeded. Your network is configured correctly.</div>
      <% } else if (task && task.get('status') == 'error') { %>
        <div class="page-control-error-placeholder enable-selection">
          Verification Failed:<br/>
          <%= task.escape('message').replace(/\n/g, '<br/>') %>
        </div>
      <% } %>

    </div>
  </div>
<% } else { %>
  &nbsp;
<% } %>
