.btn {
  display: inline-block;
  *display: inline;
  padding: 2px 16px 4px;
  margin-bottom: 0;
  *margin-left: .3em;
  font-size: 13px;
  font-weight: 500;
  line-height: 24px;
  *line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  background-color: #b4b4b4;
  *background-color: #b4b4b4;
  background-image: -ms-linear-gradient(top, #a0a0a0, #888888);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#a0a0a0), to(#888888));
  background-image: -webkit-linear-gradient(top, #a0a0a0, #888888);
  background-image: -o-linear-gradient(top, #a0a0a0, #888888);
  background-image: linear-gradient(top, #a0a0a0, #888888);
  background-image: -moz-linear-gradient(top, #a0a0a0, #888888);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  *border: 0;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-bottom-color: #b3b3b3;

  border: none;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  -pie-background: linear-gradient(#a0a0a0, #888888);
  behavior: url(css/pie.htc);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
  *background-color: #d9d9d9;
}

.btn:active,
.btn.active {
  background-color: #cccccc \9;
}

.btn:first-child {
  *margin-left: 0;
}

.btn:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #999999;
  *background-color: #d9d9d9;
  background-image: -ms-linear-gradient(top, #888888, #a0a0a0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#888888), to(#a0a0a0));
  background-image: -webkit-linear-gradient(top, #888888, #a0a0a0);
  background-image: -o-linear-gradient(top, #888888, #a0a0a0);
  background-image: linear-gradient(top, #888888, #a0a0a0);
  background-image: -moz-linear-gradient(top, #888888, #a0a0a0);
  /* Buttons in IE7 don't get borders, so darken on hover */

  /*
  background-position: 0 -16px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
      -ms-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;
  */
  -pie-background: linear-gradient(#888888, #a0a0a0);
  behavior: url(css/pie.htc);

}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn.active,
.btn:active {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);

}

.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-color: #e6e6e6;
  background-image: none;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
}

.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.btn-large [class^="icon-"] {
  margin-top: 1px;
}

.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}

.btn-small [class^="icon-"] {
  margin-top: -1px;
}

.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}

.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}

.btn {
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.btn-primary {
  background-color: #0074cc;
  *background-color: #0055cc;
  background-image: -ms-linear-gradient(top, #0c9df3, #085ebd);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0c9df3), to(#085ebd));
  background-image: -webkit-linear-gradient(top, #0c9df3, #085ebd);
  background-image: -o-linear-gradient(top, #0c9df3, #085ebd);
  background-image: -moz-linear-gradient(top, #0c9df3, #085ebd);
  background-image: linear-gradient(top, #0c9df3, #085ebd);
  background-repeat: repeat-x;
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#0c9df3, #085ebd);
  behavior: url(css/pie.htc);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
  *background-color: #004ab3;
  background-image: -ms-linear-gradient(top, #085ebd, #0c9df3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#085ebd), to(#0c9df3));
  background-image: -webkit-linear-gradient(top, #085ebd, #0c9df3);
  background-image: -o-linear-gradient(top, #085ebd, #0c9df3);
  background-image: -moz-linear-gradient(top, #085ebd, #0c9df3);
  background-image: linear-gradient(top, #085ebd, #0c9df3);
  -pie-background: linear-gradient(#085ebd, #0c9df3);
  behavior: url(css/pie.htc);
}

.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}

.btn-warning {
  background-color: #faa732;
  *background-color: #f89406;
  background-image: -ms-linear-gradient(top, #ecc967, #d48111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecc967), to(#d48111));
  background-image: -webkit-linear-gradient(top, #ecc967, #d48111);
  background-image: -o-linear-gradient(top, #ecc967, #d48111);
  background-image: -moz-linear-gradient(top, #ecc967, #d48111);
  background-image: linear-gradient(top, #ecc967, #d48111);
  background-repeat: repeat-x;
  border: 1px solid #F0F;
  /*
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  */
  -pie-background: linear-gradient(#ecc967, #d48111);
  behavior: url(css/pie.htc);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #f89406;
  *background-color: #df8505;
  background-image: -ms-linear-gradient(top, #d48111, #ecc967);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d48111), to(#ecc967));
  background-image: -webkit-linear-gradient(top, #d48111, #ecc967);
  background-image: -o-linear-gradient(top, #d48111, #ecc967);
  background-image: -moz-linear-gradient(top, #d48111, #ecc967);
  background-image: linear-gradient(top, #d48111, #ecc967);
  -pie-background: linear-gradient(#d48111, #ecc967);
  behavior: url(css/pie.htc);
}

.btn-warning:active,
.btn-warning.active {
  background-color: #c67605 \9;
}

.btn-danger {
  background-color: #da4f49;
  *background-color: #bd362f;
  background-image: -ms-linear-gradient(top, #ad0d0f, #900b0e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ad0d0f), to(#900b0e));
  background-image: -webkit-linear-gradient(top, #ad0d0f, #900b0e);
  background-image: -o-linear-gradient(top, #ad0d0f, #900b0e);
  background-image: -moz-linear-gradient(top, #ad0d0f, #900b0e);
  background-image: linear-gradient(top, #ad0d0f, #900b0e);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#ad0d0f, #900b0e);
  behavior: url(css/pie.htc);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #bd362f;
  *background-color: #a9302a;
  background-image: -ms-linear-gradient(top, #900b0e, #ad0d0f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#900b0e), to(#ad0d0f));
  background-image: -webkit-linear-gradient(top, #900b0e, #ad0d0f);
  background-image: -o-linear-gradient(top, #900b0e, #ad0d0f);
  background-image: -moz-linear-gradient(top, #900b0e, #ad0d0f);
  background-image: linear-gradient(top, #900b0e, #ad0d0f);
  -pie-background: linear-gradient(#900b0e, #ad0d0f);
  behavior: url(css/pie.htc);
}

.btn-danger:active,
.btn-danger.active {
  background-color: #942a25 \9;
}

.btn-success {
  background-color: #5bb75b;
  *background-color: #51a351;
  background-image: -ms-linear-gradient(top, #8fb84e, #5c8328);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb84e), to(#5c8328));
  background-image: -webkit-linear-gradient(top, #8fb84e, #5c8328);
  background-image: -o-linear-gradient(top, #8fb84e, #5c8328);
  background-image: -moz-linear-gradient(top, #8fb84e, #5c8328);
  background-image: linear-gradient(top, #8fb84e, #5c8328);
  background-repeat: repeat-x;
  /*
  border-color: #397a1b;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
   */
  border: none;
  /* border-top: 1px solid #b6f3c9; */
  /* border-bottom: 1px solid #0a5f0c; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
  -pie-background: linear-gradient(#8fb84e, #5c8328);
  behavior: url(css/pie.htc);

}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
  *background-color: #499249;
  background-image: -ms-linear-gradient(top, #5c8328, #8fb84e);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5c8328), to(#8fb84e));
  background-image: -webkit-linear-gradient(top, #5c8328, #8fb84e);
  background-image: -o-linear-gradient(top, #5c8328, #8fb84e);
  background-image: -moz-linear-gradient(top, #5c8328, #8fb84e);
  background-image: linear-gradient(top, #5c8328, #8fb84e);
   -pie-background: linear-gradient(#5c8328, #8fb84e);
  behavior: url(css/pie.htc);
}

.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}

.btn-info {
  background-color: #49afcd;
  *background-color: #2f96b4;
  background-image: -ms-linear-gradient(top, #73bae4, #3072bc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#73bae4), to(#3072bc));
  background-image: -webkit-linear-gradient(top, #73bae4, #3072bc);
  background-image: -o-linear-gradient(top, #73bae4, #3072bc);
  background-image: -moz-linear-gradient(top, #73bae4, #3072bc);
  background-image: linear-gradient(top, #73bae4, #3072bc);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#73bae4, #3072bc);
  behavior: url(css/pie.htc);
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
  *background-color: #2a85a0;
  background-image: -ms-linear-gradient(top, #3072bc, #73bae4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072bc), to(#73bae4));
  background-image: -webkit-linear-gradient(top, #3072bc, #73bae4);
  background-image: -o-linear-gradient(top, #3072bc, #73bae4);
  background-image: -moz-linear-gradient(top, #3072bc, #73bae4);
  background-image: linear-gradient(top, #3072bc, #73bae4);
  -pie-background: linear-gradient(#3072bc, #73bae4);
  behavior: url(css/pie.htc);
}

.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}

.btn-inverse {
  background-color: #414141;
  *background-color: #222222;
  background-image: -ms-linear-gradient(top, #444444, #070707);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444444), to(#070707));
  background-image: -webkit-linear-gradient(top, #444444, #070707);
  background-image: -o-linear-gradient(top, #444444, #070707);
  background-image: -moz-linear-gradient(top, #444444, #070707);
  background-image: linear-gradient(top, #444444, #070707);
  background-repeat: repeat-x;
  border-color: #222222 #222222 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  -pie-background: linear-gradient(#444444, #070707);
  behavior: url(css/pie.htc);
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
  background-color: #222222;
  *background-color: #151515;
  background-image: -ms-linear-gradient(top, #070707, #444444);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#070707), to(#444444));
  background-image: -webkit-linear-gradient(top, #070707, #444444);
  background-image: -o-linear-gradient(top, #070707, #444444);
  background-image: -moz-linear-gradient(top, #070707, #444444);
  background-image: linear-gradient(top, #070707, #444444);
  -pie-background: linear-gradient(#070707, #444444);
  behavior: url(css/pie.htc);
}

.btn-inverse:active,
.btn-inverse.active {
  background-color: #080808 \9;
}
