body {
  margin: 0;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  background-color: #ffffff;
  background-image: url(../img/bg3.png);
  font-weight: 500;
}


a {color: #187cc9; text-decoration: none;}
a:hover {color: #13609b; text-decoration: underline;}


h1, h2, h3, h4, h5, h6 {margin: 0; font-family: inherit; font-weight: 300; color: inherit; text-rendering: optimizelegibility;}

.container {width: 940px;}
.navbar .nav > li > a {line-height: 26px; /* padding: 9px 15px 11px;*/}
.navbar .nav {font-size: 16px;}

.node {
display: block;
width: auto;
/* height: 316px; */
height: 258px;
border: 1px solid #a9a9a9;
border-radius: 5px;
color: #666666;
text-shadow: 0px 1px 0px #ededed;
margin-top: 20px;
/*overflow: hidden;*/
behavior: url(/static/css/pie.htc);
}

.node .article {width: 100%; height: 34px; overflow: hidden;}
.node .roles, .cluster .info {width: 100%; height: 100px; overflow-x: hidden; overflow-y: auto;}
.cluster .info .leftitem {line-height: 16px; min-height: 18px; padding-left: 20px;}
.cluster .info .rightitem {line-height: 16px; min-height: 18px; font-weight: 700;}
.node .statusbar {width: 100%; height: 40px; overflow: hidden;}
.node .statusbar-text {margin-top: 10px; padding: 0px 20px 0px 20px; font-size: 15px; text-align: center;}

.node ::-webkit-scrollbar {
    display: block;
    width: 8px;
}

.node ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
        -webkit-border-radius: 8px;
        border-radius: 8px;
}

.node ::-webkit-scrollbar-thumb {
      border: 0px solid rgba(255,255,255,1.0);
      -webkit-border-radius: 4px;
      border-radius: 4px;
      background: rgba(190,190,190,0.8);
      -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0.5);
}

.node ::-webkit-scrollbar-thumb:window-inactive {
      background: rgba(220,220,220,0.4);
}

.nodeimg {display: block; width: 210px; height: 75px; overflow: hidden; background-image: url(../img/node.png); margin: 5px 5px 0px 5px;}
.nodeimgready {display: block; width: 34px; height: 27px; overflow: hidden; background-image: url(../img/led_green.gif); margin-top:23px; margin-left: 11px;}
.nodeimgerror {display: block; width: 34px; height: 27px; overflow: hidden; background-image: url(../img/led_red.gif); margin-top:23px; margin-left: 11px;}
.nodeimgdeploying {display: block; width: 34px; height: 27px; overflow: hidden; background-image: url(../img/led_orange.gif); margin-top:23px; margin-left: 11px;}
.nodeimgoffline {display: block; width: 34px; height: 27px; overflow: hidden; background-image: url(../img/led_off.gif); margin-top:23px; margin-left: 11px;}

.clusterimg {display: block; width: 210px; height: 75px; overflow: hidden; background-image: url(../img/cluster.png); margin: 5px 5px 0px 5px;}

.node, .cluster {
  display: block;
  background-color: #dbdbdb;  box-shadow: inset 0 1px 0px #f2f2f2; -moz-box-shadow: inset 0 1px 0px #f2f2f2;
  background-image: linear-gradient(bottom, rgb(212,212,212) 0%, rgb(220,220,220) 50%, rgb(228,228,228) 100%);
  background-image: -o-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(220,220,220) 50%, rgb(228,228,228) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(220,220,220) 50%, rgb(228,228,228) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(220,220,220) 50%, rgb(228,228,228) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(212,212,212) 0%, rgb(220,220,220) 50%, rgb(228,228,228) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(212,212,212)),
    color-stop(0.5, rgb(220,220,220)),
    color-stop(1, rgb(228,228,228))
    );
  -pie-background: linear-gradient(#d4d4d4, #e4e4e4);
  behavior: url(/static/css/pie.htc);
}

.cluster:hover {
  cursor: pointer;
  text-decoration: none;
  text-shadow: 0 1px 0 #EDEDED;
  color: #666666;
  background-color: #dbdbdb;  box-shadow: inset 0 2px 0px #f2f2f2; -moz-box-shadow: inset 0 2px 0px #f2f2f2;
  background-image: linear-gradient(bottom, rgb(180,180,180) 0%, rgb(204,204,204) 50%, rgb(212,212,212) 100%);
  background-image: -o-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(204,204,204) 50%, rgb(212,212,212) 100%);
  background-image: -moz-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(204,204,204) 50%, rgb(212,212,212) 100%);
  background-image: -webkit-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(204,204,204) 50%, rgb(212,212,212) 100%);
  background-image: -ms-linear-gradient(bottom, rgb(180,180,180) 0%, rgb(204,204,204) 50%, rgb(212,212,212) 100%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(200,200,200)),
    color-stop(0.5, rgb(210,210,210)),
    color-stop(1, rgb(220,220,220))
    );
  -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
            box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  -pie-background: linear-gradient(#d4d4d4, #e4e4e4);
  behavior: url(/static/css/pie.htc);
}

.create {background-color: rgba(250, 250, 250, 0.0); border: 1px solid #dfdfdf; padding: 0px; background-image: none;}
.create:hover {background-color: rgba(220, 220, 220, 0.4); border: 1px solid #d0d0d0; cursor: pointer;}
.create a {margin: 0px; padding: 0px;}
.create .textbox {display: block; height: 22px; line-height: 20px; margin-top: 65px; overflow: hidden; text-align: center;}
.create .iconbox {display: block; font-size: 100px; height: 120px; line-height: 200px; margin-left: -45px; overflow: hidden; text-align: center;}
.create .iconbox a {color: #999999;}
.create .iconbox a:hover {text-decoration: none;}

.node ul {list-style-type: none; display: block; padding: 0px; margin: 0px;}

.node .roles ul {padding-left: 20px; padding: 0px; margin: 0px; margin-left: 20px;}
.cluster-editable .node .roles ul:hover {color: #13609b; text-decoration: none; cursor: pointer;}
.cluster-locked .node .roles ul:hover {cursor: not-allowed;}
.node .roles li {line-height: 19px;}
.node .roles li.deleted-role {text-decoration: line-through; color: red}
.node .roles li.added-role {color: green}

.node hr, .cluster hr {margin: 0px; padding: 0px; border: 0; border-top: 1px solid #a9a9a9; border-bottom: 1px solid #f2f2f2;}

.node h4.name, .cluster h4.name {display: block; padding: 0px 10px 5px 20px; color: #333333; font-weight: 600; line-height: 34px;}
.node h4.name .icon-pencil {margin-left: -14px; margin-right: 0; margin-top: 3px; visibility: hidden;}
.cluster-editable .node h4.name:hover {color: #13609b; text-decoration: none; cursor: pointer;}
.cluster-editable .node h4.name:hover .icon-pencil {visibility: visible;}
.cluster-locked .node h4.name:hover {cursor: not-allowed;}

.node-name-editing {
  height: 30px;
  overflow: hidden;
  margin: 3px 0px 0px 20px;
}

.msg-ok {color: #367b16;}
.msg-error {color: #8b0000;}
.msg-warning {color: #b44200;}

.off {background-color: #f4f4f4; opacity: 0.5; }

.navbar-inner {
  min-height: 40px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #333333;
  background-image: -moz-linear-gradient(top, #666666, #333333);
  background-image: -ms-linear-gradient(top, #666666, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#666666), to(#333333));
  background-image: -webkit-linear-gradient(top, #666666, #333333);
  background-image: -o-linear-gradient(top, #666666, #333333);
  background-image: linear-gradient(top, #666666, #333333);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  /* filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0); */
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -pie-background: linear-gradient(#666666, #333333);
  behavior: url(/static/css/pie.htc);
}
.navbar .nav > li > a {
  font-size: 16px;
  line-height: 26px;
  float: none;
  padding: 9px 10px 11px;
  color: #c0c0c0;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.navbar .nav > li > a:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: transparent;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover {
  color: #78c754;
  text-decoration: none;
  background-color: #000000;
  background-image: -moz-linear-gradient(top, #111111, #333333);
  background-image: -ms-linear-gradient(top, #111111, #333333);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#333333));
  background-image: -webkit-linear-gradient(top, #111111, #333333);
  background-image: -o-linear-gradient(top, #111111, #333333);
  background-image: linear-gradient(top, #111111, #333333);
  background-repeat: repeat-x;
}


.breadcrumb {
  padding: 7px 14px;
  margin: 0 0 18px;
  margin-top: -20px;
  list-style: none;
  background: none;
  background-color: none;
  background-image: none;
  border: none;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;
  /* filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0); */
  -webkit-box-shadow: inset 0 0 0 #ffffff;
     -moz-box-shadow: inset 0 0 0 #ffffff;
          box-shadow: inset 0 0 0 #ffffff;
}

.breadcrumb li {
  display: inline-block;
  *display: inline;
  text-shadow: 0 1px 0 #ffffff;
  *zoom: 1;
}

.breadcrumb .divider {
  padding: 0 5px;
  color: #999999;
}

.breadcrumb .active a {
  color: #333333;
}

.cluster-control .btn {
  margin-left: 15px;
}

.dialog-node {
  cursor: pointer !important;
}

.node-unchecked {border: 1px solid #a9a9a9; background-color: #dbdbdb;
                background-image: -ms-linear-gradient(top, #e3e3e3, #d4d4d4);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e3e3e3), to(#d4d4d4));
                background-image: -webkit-linear-gradient(top, #e3e3e3, #d4d4d4);
                background-image: -o-linear-gradient(top, #e3e3e3, #d4d4d4);
                background-image: -moz-linear-gradient(top, #e3e3e3, #d4d4d4);
                background-image: linear-gradient(top, #e3e3e3, #d4d4d4);
                margin-bottom: 10px;
                padding: 6px;
                color: #666666;
                font-size: 12px;
                text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
                -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), 0 1px 2px rgba(0, 0, 0, 0.05);
                -pie-background: linear-gradient(#e3e3e3, #d4d4d4);
                behavior: url(/static/css/pie.htc);
}
.node-unchecked:hover {border: 1px solid #999999;
                background-image: -ms-linear-gradient(top, #d3d3d3, #c4c4c4);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#d3d3d3), to(#c4c4c4));
                background-image: -webkit-linear-gradient(top, #d3d3d3, #c4c4c4);
                background-image: -o-linear-gradient(top, #d3d3d3, #c4c4c4);
                background-image: -moz-linear-gradient(top, #d3d3d3, #c4c4c4);
                background-image: linear-gradient(top, #d3d3d3, #c4c4c4);
                -pie-background: linear-gradient(#d3d3d3, #c4c4c4);
                behavior: url(/static/css/pie.htc);
}
.node-checked {border: 1px solid #397a1b; background-color: #6dc247;
                background-image: -ms-linear-gradient(top, #81ca5f, #59ba2e);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#81ca5f), to(#59ba2e));
                background-image: -webkit-linear-gradient(top, #81ca5f, #59ba2e);
                background-image: -o-linear-gradient(top, #81ca5f, #59ba2e);
                background-image: -moz-linear-gradient(top, #81ca5f, #59ba2e);
                background-image: linear-gradient(top, #81ca5f, #59ba2e);
                margin-bottom: 10px;
                padding: 6px;
                color: #ffffff;
                font-size: 12px;
                /* text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3); */
                -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
                -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
                    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.05);
                -pie-background: linear-gradient(#81ca5f, #59ba2e);
                behavior: url(/static/css/pie.htc);
}
.node-checked:hover {border: 1px solid #295914;
                background-image: -ms-linear-gradient(top, #70b053, #499826);
                background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70b053), to(#499826));
                background-image: -webkit-linear-gradient(top, #70b053, #499826);
                background-image: -o-linear-gradient(top, #70b053, #499826);
                background-image: -moz-linear-gradient(top, #70b053, #499826);
                background-image: linear-gradient(top, #70b053, #499826);
                -pie-background: linear-gradient(#70b053, #499826);
                behavior: url(/static/css/pie.htc);
}
.node-checked .icon-ok, .node-unchecked .icon-ok {left: 7px; margin-left: 0px; position: relative; top: 0px; float: right; font-size: 14px; font-weight: bold; line-height: 10px;}
.node-checked .icon-ok {display: inline-block; color: #ffffff; text-shadow: 0 0px 0 #000000; opacity: 0.7; filter: alpha(opacity=70);}
.node-unchecked .icon-ok {display: none;}
.node-unchecked:hover .icon-ok {display: inline-block; color: #000000; text-shadow: 0 1px 0 #ffffff; opacity: 0.2; filter: alpha(opacity=20);}
.node-checked .article, .node-unchecked .article {font-size: 13px; font-weight: 600;}
.node-checked .article {text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);}
.node-unchecked .article {text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);}
.node-checked ul, .node-unchecked ul {list-style: none outside none; margin: 0px; padding: 0px;}
.node-checked ul li, .node-unchecked ul li {display: inline-block; font-size: 8.5px; margin-right: 4px;}
.node-checked ul li.macaddr, .node-unchecked ul li.macaddr {font-size: 12px;}
.node-checked ul li {color: #ffffff; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);}
.node-unchecked ul li {color: #333333;}


.alert {
  margin-bottom: 0px;
  margin-top: 10px;
}

section {margin-bottom: 40px;}

.table-bordered {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0 0 0 rgba(0, 0, 0, 0.1);
     -moz-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.15), inset 0 0 0 rgba(0, 0, 0, 0.1);
  -pie-background: linear-gradient(#666666, #333333);
  behavior: url(/static/css/pie.htc);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 4px 0;
  margin: 1px 0 0;
  list-style: none;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.dropdown-menu ul {margin: 0;}
.dropdown-menu li {color: #555555;}
.dropdown-menu li.role:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #78c754;
  text-shadow: none;
}
.dropdown-menu h4 {display: block; padding: 0px 10px 5px 20px; margin-top: 5px; color: #333333; font-weight: 600; line-height: 34px;}
.dropdown-menu .role {line-height: 23px; cursor: pointer;}
.dropdown-menu .role.unchecked i {margin-left: 3px; margin-right: 7px; visibility: hidden; margin-top: 2px;}
.dropdown-menu .role.checked  i {margin-left: 3px; margin-right: 7px; visibility: visible; margin-top: 2px;}
.dropdown-menu h4 {}
.dropdown-menu .close {line-height: 37px; margin-right: 10px;}
.dropdown-menu .applybtn {padding: 5px 20px 10px 20px;}
.dropdown-menu .applybtn .btn-small {color: #ffffff; width: 100%;}
.dropdown-menu .noroles {text-align: center; padding: 5px 15px 0;}

.loading {
  text-align: center;
  margin-top: 20px;
}

.progress-success .bar {
  background-color: #8fb84e;
  background-image: -moz-linear-gradient(top, #8fb84e, #5c8328);
  background-image: -ms-linear-gradient(top, #8fb84e, #5c8328);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8fb84e), to(#5c8328));
  background-image: -webkit-linear-gradient(top, #8fb84e, #5c8328);
  background-image: -o-linear-gradient(top, #8fb84e, #5c8328);
  background-image: linear-gradient(top, #8fb84e, #5c8328);
  background-repeat: repeat-x;
}

.progress-success.progress-striped .bar {
  background-color: #8fb84e;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
