<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Change Installation Mode</h3>
</div>
<div class="modal-body">
  <form class="form-horizontal" onsubmit="return false">
    <fieldset>
      <h4>Deployment Mode:</h4>
      <div class="row-fluid control-group mode-control-group">
        <div class="span4">
           <% var modes = {'singlenode': 'Single-node', 'multinode': 'Multi-node', 'ha': 'Multi-node with HA'} %>
          <% _.each(cluster.availableModes(), function(mode) { %>
            <label class="radio">
              <input type="radio" name="mode" value="<%= mode %>" <%= cluster.get('mode') == mode ? 'checked' : '' %> <%= cluster.canChangeMode(mode) ? '' : 'disabled' %>>
              <%= modes[mode] || mode %>
            </label>
          <% }) %>
        </div>
        <div class="span8">
          <p class="help-block hide mode-description help-mode-singlenode">
            This simple configuration is for you if you want to give OpenStack a test drive. You will get a fully functional private cloud, with all OpenStack components installed on one node. The node will also act as a compute node.
          </p>
          <p class="help-block hide mode-description help-mode-multinode">
            In this configuration OpenStack controller is deployed separately from compute and nodes. The mode assumes presence of 1 controller node and 1 or more compute/storage nodes. You can add more nodes as you go and scale your cloud.
          </p>
          <p class="help-block hide mode-description help-mode-ha">
            This configuration requires multiple OpenStack controllers (3+) and provides high availability for all OpenStack components, including MySQL/Galera, RabbitMQ, Quantum, Cinder, as well as OpenStack API services. Select this configuration if you want to build a production-grade OpenStack cloud with 6 nodes or more.
          </p>
        </div>
      </div>
       <h4 class="simple-type-title hide">Deployment Type:</h4>
       <span class="label label-info hide">This functionality will be available in the next release</span>
       <div class="row-fluid control-group type-control-group hide">
        <div class="span4">
          <% var types = {'compute': 'Compute only', 'storage': 'Storage only', 'both': 'Compute and storage'} %>
          <% _.each(cluster.availableTypes(), function(type) { %>
            <label class="radio">
              <input type="radio" name="type" value="<%= type %>" <%= cluster.get('type') == type ? 'checked' : '' %> disabled>
              <%= types[type] || type %>
            </label>
          <% }) %>
        </div>
        <div class="span8">
          <p class="help-block hide type-description help-type-compute">
            In this deployment type your installation will have only computes to run VMs on them. There will be no storage (Swift) nodes.
          </p>
          <p class="help-block hide type-description help-type-storage">
            Choose this deployment type if you don't need to run virtual machines and need only storage (Swift) nodes.
          </p>
          <p class="help-block hide type-description help-type-both">
            Choose this deployment type if you need both compute and storage nodes, to run VMs and store objects into Swift.
          </p>
        </div>
      </div>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success apply-btn">Apply</button>
</div>
