<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Change Network Settings</h3>
</div>
<div class="modal-body">
  <form onsubmit="return false">
    <fieldset>
      <div class="row-fluid">
        <div class="span4">Network Manager</div>
        <div class="span4">
          <label class="radio">
            <input type="radio" name="mode" value="flatdhcp" checked>FlatDHCPManager
          </label>
        </div>
        <div class="span4">
          <label class="radio">
            <input type="radio" name="mode" value="vlan" disabled>VLANManager
          </label>
        </div>
      </div>
      <hr>
      <% if (networks.deferred.state() != 'pending') { %>
        <table class="networks-table">
          <thead>
            <tr>
              <th class="network-name">Network</th>
              <th class="network-cidr">CIDR</th>
              <th class="network-vlan">VLAN</th>
              <th class="network-error"></th>
            </tr>
          </thead>
          <tbody>
            <% networks.each(function(network) { %>
              <tr class="control-group" data-network-name="<%= network.get('name') %>">
                <td class="network-name"><%= network.get('name') %></td>
                <td class="network-cidr">
                  <input type="text" class="input-medium" value="<%= network.get('cidr') %>" maxlength="18">
                </td>
                <td class="network-vlan">
                  <input type="text" class="input-mini" value="<%= network.get('vlan_id') %>" maxlength="4">
                </td>
                <td class="network-error"><span class="help-inline"></span></td>
              </tr>
            <% }) %>
          </tbody>
        </table>
      <% } else { %>
        <div class="row-fluid">
          <div class="span4"></div>
          <div class="span4">
            <div class="progress progress-striped progress-success active">
              <div class="bar" style="width: 100%"></div>
            </div>
          </div>
        </div>
      <% } %>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success apply-btn">Apply</button>
</div>
