<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Create a new OpenStack environment (<%= currentStep %>/<%= totalSteps %>)</h3>
</div>
<div class="modal-body wizard-body">
    <h4 class="pane-title"></h4>
    <div class="pane-content"></div>
</div>
<div class="modal-footer wizard-footer">
  <button class="btn pull-left" data-dismiss="modal">Cancel</button>
  <button class="btn prev-pane-btn">&lt; Prev</button>
  <button class="btn btn-success next-pane-btn">Next &gt;</button>
  <button class="btn btn-success finish-btn">Create</button>
</div>
