<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Create a new OpenStack environment</h3>
</div>
<div class="modal-body create-cluster-form">
  <form class="form-horizontal create-cluster-form" onsubmit="return false">
    <fieldset>
      <div class="control-group">
        <label class="control-label">Name</label>
        <div class="controls">
          <input type="text" class="input-large" name="name" maxlength="50" autofocus />
          <span class="help-inline"></span>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">OpenStack Release</label>
        <div class="controls">
          <select class="input-large" name="release"></select>
        </div>
      </div>
      <div class="release-description help-block"></div>
    </fieldset>
  </form>

  <div class="alert alert-info rhel-license hide">
    To deploy Red Hat OpenStack, you must first download both RHOS and RHEL to be cached on the Fuel master node.  You can do this from the Releases page or just choose your subscription type and enter your credentials below.  RHEL and RHOS will be automatically downloaded and cached after you create the environment.
  </div>
  <div class="credentials rhel-license hide"></div>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success create-cluster-btn">Create</button>
</div>
