<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Discard Changes</h3>
</div>
<div class="modal-body">

  <!-- Nodes changes -->
  <% var roles = cluster.availableRoles() %>
  <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
  <% if (nodesToAdd.length) { %>
    <div class="deploy-task-name">Added:</div>
    <% _.each(roles, function(role) { %>
      <% var count = _.filter(nodesToAdd, function(node) {return node.get('role') == role}).length %>
      <% if (count) { %>
        <div class="deploy-task-item"><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></div>
      <% } %>
    <% }) %>
  <% } %>
  <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
  <% if (nodesToDelete.length) { %>
    <div class="deploy-task-name">Deleted:</div>
    <% _.each(roles, function(role) { %>
      <% var count = _.filter(nodesToDelete, function(node) {return node.get('role') == role}).length %>
      <% if (count) { %>
        <div class="deploy-task-item"><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></div>
      <% } %>
    <% }) %>
  <% } %>

  <hr class="slim">

  <div class="deploy-task-notice"><i class="icon-attention"></i> Are you sure you want to discard all the changes you made?</div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-danger discard-btn" data-dismiss="modal">Discard</button>
</div>
