<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3>Confirm</h3>
</div>
<div class="modal-body">
  <div class="msg-error">
    <span class="label label-important">Important</span>
    Settings were modified. Do you really want to leave the tab and dismiss changes?
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-danger dismiss-settings">Leave the tab</button>
</div>
