<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Deploy Changes</h3>
</div>
<div class="modal-body display-changes-dialog">
  <!-- Nodes changes -->
  <% var warnings = {
    'controller': 'Environment will not contain the necessary number of controllers after deployment. Thus, it will not be usable.',
    'compute': 'Compute nodes are recommended for deployment.'
  } %>
  <% var warning = null, canDeploy = true, roles = cluster.availableRoles() %>

  <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
  <% if (nodesToAdd.length) { %>
    <div class="deploy-task-name">Added:</div>
    <% _.each(roles, function(role) { %>
      <% var count = _.filter(nodesToAdd, function(node) {return node.get('role') == role}).length %>
      <% if (count) { %>
        <div class="deploy-task-item"><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></div>
      <% } %>
    <% }) %>
  <% } %>
  <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
  <% if (nodesToDelete.length) { %>
    <div class="deploy-task-name">Deleted:</div>
    <% _.each(roles, function(role) { %>
      <% var count = _.filter(nodesToDelete, function(node) {return node.get('role') == role}).length %>
      <% if (count) { %>
        <div class="deploy-task-item"><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></div>
      <% } %>
    <% }) %>
  <% } %>

  <!-- Networks, OpenStack settings, nodes disks changes -->
  <% if (cluster.get('changes').length) { %>
    <div class="deploy-task-name">Changed:</div>
    <% var settingsChangesDescriptions = {
      'attributes': 'OpenStack settings',
      'networks': 'Network settings',
      'disks': 'Disk configuration has been changed on following nodes:'
    } %>
    <% var nodes = [] %>
    <% _.each(cluster.get('changes'), function(change) { %>
      <% if (_.isArray(change)) {nodes.push(_.last(change));} else { %>
        <div class="deploy-task-item"><%= settingsChangesDescriptions[change] %></div>
      <% } %>
    <% }) %>
    <% if (nodes.length) { %>
      <div class="deploy-task-item"><%= settingsChangesDescriptions.disks %></div>
      <ul>
        <% _.each(nodes, function(node) { %>
          <li><%= cluster.get('nodes').get(node).get('name') %></li>
        <% }) %>
      </ul>
    <% } %>
  <% } %>

  <hr class="slim">

  <!-- Warnings -->
  <% if (cluster.needsRedeployment()) { %>
    <div class="deploy-task-notice"><i class="icon-attention"></i> Some nodes have error status after deployment. Redeployment is needed.</div>
    <hr class="slim">
  <% } %>
  <%
    if (cluster.get('nodes').where({role: 'controller'}).length < size) {
      if (!cluster.get('nodes').length && !cluster.get('changes').length) canDeploy = false; else warning = 'controller';
    } else {
      _.each(roles, function(role) {
        if (warning != 'controller' && !_.filter(cluster.get('nodes').nodesAfterDeployment(), function(node) {return node.get('role') == role}).length) {
          if (role == 'controller') { warning = 'controller' }
          if (role == 'compute') { warning = 'compute' }
        }
      })
    }
  %>
  <% if (warning) { %>
    <div class="alert alert-error"><%- warnings[warning] %></div>
  <% } %>

</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-<%= warning ? 'danger' : 'success' %> start-deployment-btn<%= canDeploy ? '' : ' disabled' %>">Deploy</button>
</div>
