<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Changes to deploy</h3>
</div>
<div class="modal-body display-changes-dialog">
  <ul>
    <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
    <% if (nodesToAdd.length) { %>
      <li>Add nodes:
        <ul>
          <% _.each(cluster.availableRoles(), function(role) { %>
            <% var count = _.filter(nodesToAdd, function(node) {return node.get('role') == role}).length %>
            <% if (count) { %><li><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></li><% } %>
          <% }) %>
        </ul>
      </li>
    <% } %>

    <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
    <% if (nodesToDelete.length) { %>
      <li>Delete nodes:
        <ul>
          <% _.each(cluster.availableRoles(), function(role) { %>
            <% var count = _.filter(nodesToDelete, function(node) {return node.get('role') == role}).length %>
            <% if (count) { %><li><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></li><% } %>
          <% }) %>
        </ul>
      </li>
    <% } %>
  </ul>
</div>
<div class="modal-footer" style="text-align: center">
  <button class="btn btn-success start-deployment-btn center">Start Deployment</button>
</div>
