<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Deploy changes</h3>
</div>
<div class="modal-body display-changes-dialog">
  <ul>
    <% var warning = false %>
    <% if (!cluster.hasChanges()) { %>
      <div>There are no any changes to deploy</div>
    <% } else { %>
      <% var roles = cluster.availableRoles() %>
      <% if (!_.filter(cluster.get('nodes').nodesAfterDeployment(), function(node) {return node.get('role') == 'controller'}).length) warning = true %>
      <% var nodesToAdd = cluster.get('nodes').where({pending_addition: true}) %>
      <% if (nodesToAdd.length) { %>
        <li>Add nodes:
          <ul>
            <% _.each(roles, function(role) { %>
              <% var count = _.filter(nodesToAdd, function(node) {return node.get('role') == role}).length %>
              <% if (count) { %><li><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></li><% } %>
            <% }) %>
          </ul>
        </li>
      <% } %>
      <% var nodesToDelete = cluster.get('nodes').where({pending_deletion: true}) %>
      <% if (nodesToDelete.length) { %>
        <li>Delete nodes:
          <ul>
            <% _.each(roles, function(role) { %>
              <% var count = _.filter(nodesToDelete, function(node) {return node.get('role') == role}).length %>
              <% if (count) { %><li><%= count %> <%= role %> node<%= count != 1 ? 's' : '' %></li><% } %>
            <% }) %>
          </ul>
        </li>
      <% } %>
    <% } %>
  </ul>
  <div class="alert <%= warning ? '' : ' hide' %>">You are about to delete the last remaining cloud controller and lose all data in the current OpenStack installation. Are you sure you want to proceed?</div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-<%= warning ? 'danger' : 'success' %> start-deployment-btn<%= cluster.hasChanges() ? '' : ' hide' %>">Start</button>
</div>
