<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Changes to deploy list</h3>
</div>
<div class="modal-body">
  <table class="predeploy-info-dialog">
    <tr><td colspan=2 class="group_title">Redeployment needed</td></tr>
    <% if (redeploy_controllers.length) { %>
      <tr><td>Controllers</td><td><%= redeploy_controllers.length %></td></tr>
    <% } %>
    <% if (redeploy_compute.length) { %>
      <tr><td>Compute</td><td><%= redeploy_compute.length %></td></tr>
    <% } %>
    <% if (redeploy_storage.length) { %>
      <tr><td>Storage</td><td><%= redeploy_storage.length %></td></tr>
    <% } %>
  </table>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success start-deploy-btn">Start Deploy</button>
</div>
