<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3>Red Hat Enterprise Linux Account Settings</h3>
</div>
<div class="modal-body">
  <div class="alert alert-info">
    To deploy Red Hat OpenStack, you must first download both RHOS and RHEL to be cached on the Fuel master node.  Please choose your subscription type and enter your credentials below to begin the download.
  </div>
  <div class="credentials"></div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success btn-os-download">Download</button>
</div>
