<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h3>Red Hat Enterprise Linux Account Settings</h3>
</div>
<div class="modal-body rhel-license-dialog">
  <div class="alert alert-info">
    To deploy the Red Hat Enterprise Linux OpenStack Platform, you must first download it to be cached on the Fuel master node.  You can do this from the Releases page or just choose your subscription type and enter your credentials below.  The RHEL OpenStack Platform will be automatically downloaded and cached after you create the environment.
  </div>
  <div class="credentials"></div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success btn-os-download">Download</button>
</div>
