<div class="modal-body node-popup enable-selection">
  <div class="row-fluid">
    <div class="span5"><div class="node-image-outline"></div></div>
    <div class="span7">
      <h4><%- node.get('name') %></h4>
      <div><strong>Manufacturer: </strong><%- node.get('manufacturer') ? node.get('manufacturer') : '?' %></div>
      <div><strong>MAC Address: </strong><%- node.get('mac') ? node.get('mac') : '?' %></div>
    </div>
  </div>
  <div class="accordion" id="nodeDetailsAccordion">
    <% var meta = node.get('meta') %>
      <% _.each(_.keys(meta), function(field) { %>
        <div class="accordion-group">
          <div class="accordion-heading"><a class="accordion-toggle" data-toggle="collapse" data-parent="#nodeDetailsAccordion" href="#"><%- field %></a></div>
          <div class="accordion-body collapse in" id="<%- field %>">
            <div class="accordion-inner">
              <% if (_.isArray(meta[field])) { %>
                <% _.each(meta[field], function(el) { %>
                  <% if (!_.isArray(el) && _.isObject(el)) { %>
                    <div class="nested-object">
                      <% _.each(_.keys(el), function(key) { %>
                        <% if (field == 'disks' && key == 'size') { %>
                          <div><label><%- key %></label><%- (el[key]/Math.pow(1000, 4)).toFixed(1) %> TB</div>
                        <% } else { %>
                          <div><label><%- key %></label><%- el[key] %></div>
                        <% } %>
                      <% }) %>
                    </div>
                  <% } %>
                <% }) %>
              <% } else if (_.isObject(meta[field])) { %>
                <% _.each(_.keys(meta[field]), function(key) { %>
                  <% if (!_.isArray(meta[field][key]) && !_.isObject(meta[field][key])) { %>
                    <div><label><%- key %></label><%- meta[field][key] %></div>
                  <% } else if (_.isArray(meta[field][key])) { %>
                    <% _.each(meta[field][key], function(el) { %>
                      <% if (!_.isArray(el) && _.isObject(el)) { %>
                        <div class="nested-object">
                          <% _.each(_.keys(el), function(key) { %>
                            <div><label><%- key %></label><%- el[key] %></div>
                          <% }) %>
                        </div>
                      <% } %>
                    <% }) %>
                  <% } %>
                <% }) %>
              <% } else { %>
                <% if (field == 'memory') { %>
                  <div><%- (meta[field]/Math.pow(1024, 3)).toFixed(1) %> GB</div>
                <% } else { %>
                  <div><%- meta[field] %></div>
                <% } %>
              <% } %>
            </div>
          </div>
        </div>
      <% }) %>
  </div>
</div>
<div class="modal-footer">
  <button class="btn node-modal-close" data-dismiss="modal">Close</button>
</div>
