<div class="modal-body enable-selection">
  <div class="row-fluid">
    <div class="span5"><div class="node-image-outline"></div></div>
    <div class="span7">
      <h4><%- node.get('name') %></h4>
      <div><strong>Manufacturer: </strong><%- node.get('manufacturer') ? node.get('manufacturer') : '?' %></div>
      <div><strong>MAC Address: </strong><%- node.get('mac') ? node.get('mac') : '?' %></div>
    </div>
  </div>
  <table class="table table-bordered table-condensed table-logs">
    <thead><tr><th colspan="2">Hardware</th></tr></thead>
    <tbody>
      <tr><td>CPU</td><td><%= _.isNumber(node.resource('cores')) ? node.resource('cores') : '?' %></td></tr>
      <tr><td>HDD</td><td><%= _.isNumber(node.resource('hdd')) ? node.resource('hdd').toFixed(1) : '?' %> TB</td></tr>
      <tr><td>RAM</td><td><%= _.isNumber(node.resource('ram')) ? node.resource('ram').toFixed(1) : '?' %> GB</td></tr>
    </tbody>
    <thead><tr><th colspan="2">Other</th></tr></thead>
    <tbody>
      <tr><td>IP address</td><td><%- node.get('ip') ? node.get('ip') : '?' %></td></tr>
      <tr><td>Platform name</td><td><%- node.get('platform_name') ? node.get('platform_name') : '?' %></td></tr>
    </tbody>
  </table>
</div>
<div class="modal-footer">
  <button class="btn node-modal-close" data-dismiss="modal">Close</button>
</div>
