<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">×</button>
  <h3>Update network interfaces</h3>
</div>

<div class="modal-body display-changes-dialog">
      <% _.each(topologies, function(topology) { %>  
      <label class="parameter-box clearfix setting">
        <div class="parameter-control">
          <div class="custom-tumbler">
            <input type="radio" checked="" value="changednode" name="mode">
            <!--[if !IE |(gte IE 9)]>--><span>&nbsp;</span><!--<![endif]-->
          </div>
        </div>
        <div class="openstack-sub-title parameter-name">Chanded nodes: </div>
      </label>

      <div class="network-interfaces-modal-info">
        <% _.each(topology.nodes, function(node) { %>
        <p>Node '<%= node.node_id %>' Interfaces</p>
        <ul>
          <% _.each(node.interfaces, function(interface) { %>
          <li><%= interface.name %>: <% _.each(interface.networks, function(network) {%>
                         <%= network %>&nbsp;
                       <% })%></li>
          <% }) %>
        </ul>
        <%})%>
      </div>
      <% })%>

    


    <hr class="slim">
    <div class="deploy-task-notice">
      <i class="icon-attention"></i> Your congiguration could not work with current network topology.<br> You could select one from the proposed or force apply yours.
    </div>

</div>  
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Cancel</button>
  <button class="btn btn-success change-interfaces-btn" disabled>Apply</button>
  <button class="btn btn-danger force-apply-btn">Force Apply</button>
</div>

