<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% var hypervisors = ['kvm', 'qemu'] %>
      <% var descriptions = {
        kvm: 'Choose this type of hypervisor if you run OpenStack on hardware',
        qemu: 'Choose this type of hypervisor if you run OpenStack on virtual hosts'
      } %>
      <% _.each(hypervisors, function(hypervisor) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="hypervisor" value="<%= hypervisor %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name" style="text-transform: uppercase"><%- hypervisor %></div>
        </label>
        <div class="modal-parameter-description"><%- descriptions[hypervisor] %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
