<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="row-fluid control-group mode-control-group">
      <div class="span5">
         <% var modes = {'multinode': 'Multi-node', 'ha': 'Multi-node with HA'} %>
        <% _.each(availableModes, function(mode) { %>
          <label class="parameter-box clearfix setting" >
            <div class="parameter-control">
              <div class="custom-tumbler">
                <input type="radio" name="mode" value="<%= mode %>" />
                <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
              </div>
            </div>
            <div class="openstack-sub-title parameter-name"><%= modes[mode] || mode %></div>
          </label>
        <% }) %>
      </div>
      <div class="span7">
        <p class="help-block hide mode-description help-mode-multinode">
          In this configuration the OpenStack controller is deployed separately from the compute and cinder nodes. This mode assumes the presence of 1 controller node and 1 or more compute/cinder nodes. You can add more nodes to scale your cloud later.
        </p>
        <p class="help-block hide mode-description help-mode-ha">
          This configuration requires multiple OpenStack controllers (3+) and provides high availability for all OpenStack components, including MySQL/Galera, RabbitMQ, and Cinder, as well as OpenStack API services. Select this configuration if you want to build a production-grade OpenStack cloud with 6 nodes or more.
        </p>
      </div>
    </div>
  </fieldset>
</form>
