<form class="form-horizontal" onsubmit="return false">
  <fieldset>
    <div class="control-group">
      <% var managers = ['nova-network', 'quantum'] %>
      <% var descriptions = {
        'nova-network': 'Nova-network description',
        quantum: 'Quantum description'
      } %>
      <% _.each(managers, function(manager) { %>
        <label class="parameter-box clearfix">
          <div class="parameter-control">
            <div class="custom-tumbler">
              <input type="radio" name="manager" value="<%= manager %>" />
              <!-- [if !IE |(gte IE 9)]> --><span>&nbsp;</span><!-- <![endif] -->
            </div>
          </div>
          <div class="parameter-name" style="text-transform: capitalize"><%- manager %></div>
        </label>
        <div class="modal-parameter-description"><%- descriptions[manager] %></div>
      <% }) %>
    </div>
  </fieldset>
</form>
