[Unit]
Description=Container Startup Script
Requires=dbus.socket
After=syslog.target

[Service]
ExecStart=/bin/bash /usr/local/bin/start.sh > /var/log/setup.log 2>&1
